In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.DataFrame({"A":[1,2,np.nan],"B":[5,np.nan,np.nan],"C":[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [3]:
df1=pd.DataFrame({'A': [1,2,3], 'B': [10,20,30] })

In [4]:
def topla_10(x):
    return x+10

In [5]:
df1.apply(topla_10)

    A   B
0  11  20
1  12  30
2  13  40

In [6]:
df1.transform(topla_10)  # 1 seride çalışır

    A   B
0  11  20
1  12  30
2  13  40

In [7]:
df1.transform("sqrt")  # liste halinde verdiğimiz fonksiyonları apply da çalıştırır.karekökünü al str ifade de de çalışır

          A         B
0  1.000000  3.162278
1  1.414214  4.472136
2  1.732051  5.477226

# sadece a da işlem transform
   iki sütünda işlem varsa apply 
   Transform apply ın özel bi durumudur. Transform her bir veriyi tek tek işleyerek df ile aynı yapıda sonuc df si döndürür. Apply aggregation olarak sonuc döndürmekte de yeteneklidir.

In [8]:
df1.transform([np.sqrt,np.exp]) # np.formül de çalıştı transform

          A                    B
       sqrt        exp      sqrt           exp
0  1.000000   2.718282  3.162278  2.202647e+04
1  1.414214   7.389056  4.472136  4.851652e+08
2  1.732051  20.085537  5.477226  1.068647e+13

In [9]:
df1.transform({"A":np.sqrt,"B":np.exp}) # ayrı ayrı oldu

          A             B
0  1.000000  2.202647e+04
1  1.414214  4.851652e+08
2  1.732051  1.068647e+13

In [10]:
def çıkarma(x):
    return x["B"]-x["A"]

In [11]:
df1.apply(çıkarma,axis=1) # 2 farklı seride np.formül de çalıştı transform

0     9
1    18
2    27
dtype: int64

In [12]:
df1.transform(çıkarma,axis=1)  # a ve b çalışmaz transform tekli serilerle çalışır.

ValueError: transforms cannot produce aggregated results

In [ ]:
df

# dropna

In [13]:
df.dropna(thresh=2)  # satır dropna

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [14]:
df.dropna(thresh=2,axis=1) # kolon dropna  drop na değerleri

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [15]:
df2.dropna(thresh=2)   # 1 tane no nan (dolu değer varsa ) tut keep demek

NameError: name 'df2' is not defined

In [ ]:
df.fillna(25)

In [ ]:
df["A"].fillna(value=df["A"].mean())  # df a kolonunu doldur nan ları değer 
                                       #df a kolon ort

In [ ]:
df["A"].fillna(df["A"].mean())  # df a kolonunu doldur nan ları değer 
                                       #df a kolon ort

In [ ]:
V1 = np.array([2,3,5,np.NaN,7,1,np.NaN,10,14])
V2 = np.array([8,np.NaN,5,8,11,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,13,5,6,13,7,np.NaN,3,30])

In [ ]:
df2 = pd.DataFrame(
        {"Var1" : V1,
         "Var2" : V2,
         "Var3" : V3}
)

In [ ]:
df2

In [ ]:
df2["Var1"].fillna(0)  # var1 sütununda NaN olan değerleri sıfır ile doldur

In [ ]:
df2["Var2"].fillna(df2["Var2"].mean()) # var2 sütununda NaN olan değerleri var 2 nin ortalaması ile doldur.

In [ ]:
round(df2["Var2"].mean(),2)

In [ ]:
df2["Var2"].median()

In [ ]:
df2.apply(lambda x :x.fillna(x.mean()),axis=0)

In [ ]:
df2["Var3"].fillna(df2["Var3"].median()) # median la doldur.

In [ ]:
Var1 = np.array([1,3,6,np.NaN,7,1,9,np.NaN,15])
Var2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
Var3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
Var4 = np.array(["IT","IT","IT","HR","HR","HR","HR","IT","IT"])
df3 = pd.DataFrame(
        {"salary" : Var1,
         "Var2" : Var2,
         "Var3" : Var3,
         "department" : Var4}
)

In [ ]:
df3

In [ ]:
df3.groupby("department")["salary"].mean()  # departmanlara göre maaş ort. getir.

In [ ]:
df3.salary.mean()

In [ ]:
df3.salary.mean()

In [ ]:
df3.fillna(df3["department"]=="HR")["salary"].mean()

In [ ]:
it,hr = df3.groupby('department')['salary'].mean()
hr

In [ ]:
df3

In [ ]:
df3.groupby("department").apply(lambda x: x.fillna(x.mean(), axis = 0))

In [ ]:
df3["salary"].fillna(df3.groupby("department")["salary"].transform("mean"))

In [ ]:
df3["salary"].fillna(df3.groupby("department")["salary"].transform("mean"))
# apply str olarak değil np.mean olarak yazılırsa o da kullanılır

In [ ]:
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.nan,"HR","HR","HR","HR",np.nan,"IT","HR"], dtype=object)
df4 = pd.DataFrame(
        {"salary" : V1,
        "department" : V4}
)
df4

In [ ]:
df4["department"].fillna(method="ffill")  # ileriye kopyala

In [ ]:
df4["department"].fillna(method="bfill") # geriye doldur

In [ ]:
df5=sns.load_dataset("diamonds")

In [ ]:
df5.head()

In [ ]:
sns.boxplot(x=df5.table)   # seaborn kütüphanesinden boxpolt uygula neye
                           # x = df5. table kolonuna

In [ ]:
df5["table"].describe()

In [ ]:
Q1=df5["table"].quantile(0.25)
Q1

In [ ]:
Q3=df5["table"].quantile(0.75)
Q3

In [ ]:
IQR=Q3-Q1
IQR

In [ ]:
max_outlier=Q3+1.5*IQR
max_outlier

In [ ]:
min_outlier=Q1-1.5*IQR
min_outlier

In [ ]:
mini=df5[df5["table"] < min_outlier]
mini

In [ ]:
maxi=df5[df5["table"] > max_outlier]
maxi

In [ ]:
df5[((df5["table"] < mini) | (df5["table"] > maxi))]

In [ ]:
df6=df5_clean = df5[~((df5["table"] < min_outlier) | (df5["table"] > max_outlier))]  # ~ means the opposite
df6

In [ ]:
sns.boxplot(x=df6.table)

In [ ]:
sns.boxplot(x=df5["carat"])

In [ ]:
sns.boxplot(x=np.log(df5["carat"]))

In [ ]:
from scipy.stats.mstats import winsorize

# 0.1 ile  0.98 arasındakiler al gibi winsorize

In [ ]:
df_table_win = winsorize(df5["table"], (0.01, 0.02))

In [ ]:
sns.boxplot(x=df_table_win)