___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd
ri = pd.read_csv('RI_cleaned.csv', nrows=50000)
drop_columns=["state", "county_name", "county_fips", "fine_grained_location"]
ri.drop(drop_columns, axis='columns', inplace=True)
ri.dropna(subset=['driver_gender'], inplace=True)
ri['is_arrested'] = ri.is_arrested.astype('bool')
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')
ri['stop_datetime'] = pd.to_datetime(combined)
ri.drop(["stop_date", "stop_time"], axis='columns', inplace=True)
ri.set_index('stop_datetime', inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
ri.head(1)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [5]:
ri.violation.value_counts(dropna=False) #

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [6]:
ri.violation.value_counts()

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [7]:
ri.violation.value_counts(normalize=True)   # normalize yüzdelik dilimle yazdırır

Speeding               0.752156
Moving violation       0.135847
Equipment              0.062945
Registration/plates    0.030473
Other                  0.018579
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [10]:
ri.driver_gender.value_counts()

M    34701
F    13309
Name: driver_gender, dtype: int64

In [14]:
female=ri[ri.driver_gender== "F"]   # df yaptık [] ile

In [15]:
female.head(1)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,200,F,1983.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [11]:
female=df[(df["driver_gender"]=="F")]

In [12]:
female

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,White,...,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,300,F,1984.0,21.0,W,White,...,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,300,F,1971.0,34.0,W,White,...,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,500,F,1986.0,19.0,W,White,...,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30:00,RI-2005-00037,2005-06-18,16:30,Zone X4,500,F,1964.0,41.0,W,White,...,Moving violation,False,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 21:59:00,RI-2015-47051,2015-12-31,21:59,Zone K3,300,F,1994.0,21.0,W,White,...,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2015-12-31 22:09:00,RI-2015-47054,2015-12-31,22:09,Zone K3,300,F,1992.0,23.0,H,Hispanic,...,Equipment,False,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
2015-12-31 22:10:00,RI-2015-47055,2015-12-31,22:10,Zone X4,300,F,1989.0,26.0,L,Hispanic,...,Moving violation,False,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
2015-12-31 22:10:00,RI-2015-47056,2015-12-31,22:10,Zone X4,300,F,1989.0,26.0,L,Hispanic,...,Moving violation,False,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
2015-12-31 22:39:00,RI-2015-47060,2015-12-31,22:39,Zone K3,300,F,1976.0,39.0,W,White,...,Moving violation,False,NaN,False,Citation,False,16-30 Min,True,False,Zone K3

In [16]:
male=ri[ri.driver_gender== "M"]

In [19]:
male.head(1)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [15]:
female=df[df.driver_gender=="F"]

In [15]:
male = df[df.driver_gender == 'M']

In [16]:
female.violation.count()

131138

In [17]:
female["violation"].value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [20]:
female.violation.value_counts(normalize = True)

Speeding               0.811180
Moving violation       0.099031
Equipment              0.045608
Registration/plates    0.027575
Other                  0.016605
Name: violation, dtype: float64

In [21]:
male.violation.value_counts(normalize = True)

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [25]:
female_and_speeding=ri[(ri.driver_gender=="F")&(ri.violation=="Speeding")]
female_and_speeding.head(1)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,200,F,1983.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [26]:
male_and_speeding=ri[(ri.driver_gender=="M")&(ri.violation=="Speeding")]

In [28]:
male_and_speeding.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-18 08:15:00,RI-2005-00007,Zone K3,300,M,1965.0,40.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-23 23:15:00,RI-2005-00009,Zone K3,300,M,1972.0,33.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-24 20:32:00,RI-2005-00010,Zone K1,600,M,1987.0,18.0,W,White,Speeding,Speeding,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1

In [29]:
female_and_speeding.stop_outcome.value_counts(normalize=True) # bayanlar daha fazla ceza almış

Citation            0.973416
Warning             0.012968
Arrest Driver       0.007410
N/D                 0.003612
Arrest Passenger    0.002316
No Action           0.000278
Name: stop_outcome, dtype: float64

In [31]:
male_and_speeding.stop_outcome.value_counts(normalize=True) # baylar daha fazla tutuklanmış

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

In [20]:
female_and_speeding=df[(df["driver_gender"]=="F")&(df["violation"]=="Speeding")]

In [21]:
male_and_speeding=df[(df["driver_gender"]=="M")&(df["violation"]=="Speeding")]

In [22]:
female_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [23]:
female_and_speeding[["stop_outcome"]].value_counts(normalize=True)

stop_outcome
Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
dtype: float64

In [24]:
male_and_speeding[["stop_outcome"]].value_counts(normalize=True)

stop_outcome
Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
dtype: float64

In [25]:
female_and_speeding= df[(df.driver_gender == "F") & (df.violation == "Speeding")]

In [26]:
male_and_speeding = df[(df.driver_gender == 'M') & (df.violation == 'Speeding')]

In [27]:
female_and_speeding.stop_outcome.value_counts(normalize = True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [28]:
male_and_speeding.stop_outcome.value_counts(normalize = True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate


During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [35]:
ri.search_conducted.dtype

dtype('bool')

In [37]:
ri.search_conducted.value_counts(normalize=True) # oranlı ver

False    0.958092
True     0.041908
Name: search_conducted, dtype: float64

In [38]:
ri.search_conducted.mean() # oranı verir yukarıdakinin true olanlarını

0.04190793584669861

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [39]:
female.search_conducted.mean()  # erkeklerin yüzde 5 i aranmış

0.017807498685100308

In [40]:
male.search_conducted.mean()  # erkeklerin yüzde 5 i aranmış

0.05115126365234431

In [42]:
ri.driver_gender.unique()  # bu iki değer var

array(['M', 'F'], dtype=object)

In [44]:
ri.groupby("driver_gender")  # ketum hala mean meadia sum kullanılması gerek agg gerek

In [47]:
ri.groupby("driver_gender").search_conducted.mean()  # cinsiyet grubu ne var erkek bayan sonra search

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

In [46]:
#df.groupby("driver_gender").search_conducted.value_counts(normalize=True).mean()

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [48]:
ri[(ri.driver_gender=="M")].search_conducted.mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [ ]:
ri

In [48]:
df.groupby("driver_gender").search_conducted.mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [50]:
ri.violation.unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates'], dtype=object)

In [52]:
ri.groupby(["driver_gender","violation"]).search_conducted.mean().unstack()
# cinsiyet grubu f m sonra violation grubu var group by liste verdik

violation,Equipment,Moving violation,Other,Registration/plates,Speeding
driver_gender,,,,,
F,0.079077,0.047800,0.045249,0.114441,0.006854
M,0.123395,0.088778,0.154993,0.171533,0.028560

In [53]:
ri.groupby(["driver_gender","violation"])[["search_conducted"]].mean()

                                   search_conducted
driver_gender violation
F             Equipment                    0.079077
              Moving violation             0.047800
              Other                        0.045249
              Registration/plates          0.114441
              Speeding                     0.006854
M             Equipment                    0.123395
              Moving violation             0.088778
              Other                        0.154993
              Registration/plates          0.171533
              Speeding                     0.028560

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [55]:
ri.search_type.value_counts()

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Protective Frisk,Reasonable Suspicion                        16
Inventory,Probable Cause                                     16
Probable Cause,Reasonable Suspicion                          12
Incident to Arrest,Reasonable Suspicion                       5
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Inventory,Probable Cause,Protective Frisk                     2
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Name: search_type, dtype: int64

In [57]:
ri[ri.search_type=="Protective Frisk"]

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-10-06 21:35:00,RI-2005-01027,Zone X4,500,M,1966.0,39.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4
2005-10-07 11:33:00,RI-2005-01121,Zone X4,900,M,1980.0,25.0,W,White,Equipment/Inspection Violation,Equipment,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,16-30 Min,False,False,Zone X4
2005-10-09 19:20:00,RI-2005-01474,Zone K3,300,M,1962.0,43.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone K3
2005-10-10 07:00:00,RI-2005-01548,Zone X4,500,M,1970.0,35.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Arrest Passenger,True,0-15 Min,False,False,Zone X4
2005-10-12 20:30:00,RI-2005-01871,Zone K3,300,M,1987.0,18.0,H,Hispanic,Other Traffic Violation,Moving violation,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,0-15 Min,False,False,Zone K3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-08-03 02:15:00,RI-2006-34909,Zone K3,300,M,1982.0,24.0,B,Black,Registration Violation,Registration/plates,True,Terry Frisk,Protective Frisk,False,Citation,False,16-30 Min,False,False,Zone K3
2006-08-04 00:43:00,RI-2006-35046,Zone K1,600,M,1985.0,21.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone K1
2006-08-04 10:05:00,RI-2006-35126,Zone K2,900,M,1984.0,22.0,W,White,Registration Violation,Registration/plates,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone K2
2006-08-05 07:24:00,RI-2006-35304,Zone K1,600,M,1976.0,30.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,True,False,Zone K1
2006-08-06 02:45:00,RI-2006-35412,Zone K2,900,M,1983.0,23.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,True,False,Zone K2

In [63]:
ri["frisk"]=ri.search_type.str.contains("Protective Frisk",na=False)  
# str olarak series olduğu için methodları kullanabilrim.true veya false etiket vuracak.

In [64]:
ri.head(1)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk,Frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False,False

In [66]:
ri.frisk.value_counts()  # saydık

False    47607
True       403
Name: frisk, dtype: int64

In [70]:
ri.search_type.isin(["Protective Frisk"]).sum() # bu olmadı sadece pr. fr.. geldi içerenler değil.

204

In [62]:
ri["Frisk"]=ri.search_type== "Protective Frisk"

In [ ]:
ri["frisk"]=np.vectorize(lambda x: True if x=="Protective Frisk"  else False)(ri["search_type"])

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [79]:
searched=ri[ri["search_conducted"]]

In [80]:
searched.frisk.mean()  # aramalrın % 20 üst araması yapılmış.

0.20029821073558648

In [81]:
searched.groupby("driver_gender")["frisk"].mean()

driver_gender
F    0.164557
M    0.205070
Name: frisk, dtype: float64

In [82]:
searched=ri[ri["search_conducted"]==True]
searched["Frisk"].mean()

0.10139165009940358

In [83]:
searched.groupby(["driver_gender"])["Frisk"].mean()

driver_gender
F    0.101266
M    0.101408
Name: Frisk, dtype: float64