### istatistik

In [2]:
import numpy as np
import pandas as pd
from math import factorial

In [ ]:
# Arimetic ort:     örnek: 10,8,7,6,5=  36/5= 7.2

# varyans:          bulma (10-7.2)**2 ,(8-7.2)**2 ... x/ (terim sayısı-1) 4 =

# standart sapma:   varyansın karekökü

In [18]:
# örneklem modelleme:                      #seed aynı sonucu gönderme dedik
popülasyon=np.random.randint(10,80, size=100000)

In [19]:
np.random.seed(115)   # örneklem çekerken her defasında farklı getir

In [20]:
örneklem1=np.random.choice(a=popülasyon,size=100)

In [32]:
örneklem1.mean()   # örneklem ort

44.41

In [33]:
popülasyon.mean()

44.52741

In [34]:
örneklem1.mean()

44.41

In [44]:
orneklem2=np.random.choice(a=popülasyon,size=100)
orneklem3=np.random.choice(a=popülasyon,size=100)
orneklem4=np.random.choice(a=popülasyon,size=100)
orneklem5=np.random.choice(a=popülasyon,size=100)
orneklem6=np.random.choice(a=popülasyon,size=100)
orneklem7=np.random.choice(a=popülasyon,size=100)
orneklem8=np.random.choice(a=popülasyon,size=100)
orneklem9=np.random.choice(a=popülasyon,size=100)
orneklem10=np.random.choice(a=popülasyon,size=100)
orneklem1=np.random.choice(a=popülasyon,size=100)

In [47]:
(orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+
 orneklem8.mean()+orneklem9.mean()+orneklem10.mean())/10

44.62

In [46]:
popülasyon.mean()   #kendisinin ort

44.52741

In [52]:
örneklem2.mean()   #yaklaşamadı

42.33

# kovaryans: 2 değişken arasındaki ilişkisel oranları inceler
# çalışarak gelen öğrencinin derste başarılı olması
# çalışmadan gelen öğrencinin kalması     pozitif yönlü     kovaryans tersi negatif yönlü kovaryans

In [77]:
df=pd.DataFrame(np.random.randint(2,30,size=(5,2)),columns=["deg1","deg2"])
df

   deg1  deg2
0    28    25
1    29    27
2    23    13
3    16     5
4    19    18

In [78]:
df["deg1"].mean()

23.0

In [79]:
df["deg2"].mean()

17.6

In [80]:
a=df["deg1"]-(df["deg1"].mean())
a

0    5.0
1    6.0
2    0.0
3   -7.0
4   -4.0
Name: deg1, dtype: float64

In [81]:
b=df["deg2"]-(df["deg2"].mean())
b

0     7.4
1     9.4
2    -4.6
3   -12.6
4     0.4
Name: deg2, dtype: float64

In [82]:
c=a*b
c

0    37.0
1    56.4
2    -0.0
3    88.2
4    -1.6
dtype: float64

In [83]:
kov=(c.sum())/5
kov           # iki tablo arasında pozitif yönlü ilişki var

36.0

In [ ]:
# korelasyon: 2 değişken arasındaki ilişkinin  moivasyon durumunu inceler
# dersi seven öğrencinin başarılı olması gibi
# -1 ve +1 arasında değer alır        0-1 arası pozitif  -1-0 arası negatif

In [84]:
x=df["deg1"]-(df["deg1"].mean())
y=df["deg2"]-(df["deg2"].mean())

In [85]:
x

0    5.0
1    6.0
2    0.0
3   -7.0
4   -4.0
Name: deg1, dtype: float64

In [86]:
y

0     7.4
1     9.4
2    -4.6
3   -12.6
4     0.4
Name: deg2, dtype: float64

In [88]:
x_kare=x**2
x_kare

0    25.0
1    36.0
2     0.0
3    49.0
4    16.0
Name: deg1, dtype: float64

In [89]:
y_kare=y**2
y_kare   3 kareleri

0     54.76
1     88.36
2     21.16
3    158.76
4      0.16
Name: deg2, dtype: float64

In [90]:
çarpım=x*y
çarpım       # yanyana çarptı

0    37.0
1    56.4
2    -0.0
3    88.2
4    -1.6
dtype: float64

In [94]:
çarpım_toplam = çarpım.sum()
x_kare_toplam = x_kare.sum()
y_kare_toplam = y_kare.sum()

In [96]:
korelasyon =çarpım_toplam/((x_kare_toplam*y_kare_toplam)**0.5)
korelasyon

0.8919726878180159

In [97]:
df[["deg1","deg2"]].cov()

      deg1  deg2
deg1  31.5  45.0
deg2  45.0  80.8

In [99]:
df[["deg1"]].cov()    # tek değerde de çift parantez

      deg1
deg1  31.5

In [100]:
df[["deg2"]].cov()    # koveryans

      deg2
deg2  80.8

In [101]:
df[["deg1","deg2"]].corr()  # korelasyon

          deg1      deg2
deg1  1.000000  0.891973
deg2  0.891973  1.000000

In [102]:
import seaborn as sns

In [104]:
df=sns.load_dataset("tips")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [105]:
df[["total_bill","tip"]].cov()  # ödemeyle bahşiş arasında pozitif yölün kovaryans ilişkisi var

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [106]:
df[["total_bill","tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [ ]:
# güven aralıkları: belirli hedef kitlenin ilişkisi bir web sitesindeki geçirilen sürenin güven aralığı

In [110]:
# kişi n sayısı,ortalama, standart_sapma,
#n=100,ort=180, std=40
a=180+1.96*40/(100*0.5)     
#172 ile 188 arasında ½95 lik bir başarı var demektir.
b=180-1.96*40/(100*0.5)
print(a)
print(b)
# kullanıcıların % 95 181-178 saniye aralıklarında sitemizde kalışlar.
# güven aralığı min değer %95 max değer% 99

181.568
178.432

In [ ]:
# ürünü satacaz 100 kişiye sor

In [112]:
fiyat=np.random.randint(70,100, size=100)

In [ ]:
# % 95 hangi aralıkta rakam vermiş

In [113]:
import statsmodels.stats.api as sms          # statsmodel kütüphanesinde stats api güven aralıklarını hesaplarken

In [114]:
sms.DescrStatsW(fiyat).tconfint_mean()   # fiyat değ.içinde aralık hesaplaması yapacak

(83.5579410990537, 87.10205890094629)

In [ ]:
# satış fiyatımı 85 olarak belirledim.

In [115]:
sms.DescrStatsW(fiyat).tconfint_mean()

(83.5579410990537, 87.10205890094629)

In [117]:
fiyat.mean() # ort

85.33

In [118]:
fiyat.std()  # std aşağıya yazalım formüldeki yeri

8.886005851899942

In [120]:
a=85.33+1.96*8.886005851899942/(100**0.5)
b=85.33-1.96*8.886005851899942/(100**0.5)
print(a)
print(b)

87.07165714697238
83.58834285302761

In [ ]:
fiyat.mean()

In [ ]:
#binom(bernoulli): iki sonuç var, paradaki yazı tura 1 kere bernoulli n defa binom 
# sonucu 2 olan 
Başarı olasılığı olan bir Bernoulli denemesinin aynı şartlar altında (bağımsız olarak) n kez
tekrarlanması ile oluşan deneye binom deneyi denir.
Bir deneyde başarı ve başarısızlık diye nitelendirilen iki sonuçla ilgilenildiğinde bu deneye (iki sonuçlu) Bernoulli deneyi ya da Bernoulli denemesi denir
From serseri_kral_asi_Stayla to Everyone:

In [122]:
yazı=1/2
tura=1/2
((7*6*5))/(3*2*1)*(yazı**3)*(tura**4)  #7 den geriye 3 lü

0.2734375

In [123]:
from scipy.stats import bernoulli
from scipy.stats import binom

In [128]:
rv=binom(7,0.5)  # kaç deaf atacaksın 7 kaç defa  yazı 3 gelsin

In [129]:
yazı=rv.pmf(3) # 3 defa atacam
yazı

0.27343750000000017

In [ ]:
# 10 ane hasta: 2 tanesinin iyileşme olasılığı

In [143]:
p=1/2
n=10

In [148]:
rv=binom(n,p)
rv

In [149]:
iyi=rv.pmf(2)
iyi

0.04394531249999999

In [ ]:
# 10 ane hasta: 6 tanesinin iyileşme olasılığı

In [150]:
rv=binom(10,0.5)
rv=rv.pmf(6)
rv

0.20507812500000022

In [153]:
#en fazla  2tane:
p=1/2
n=10
rv=binom(n,p)
hasta1=rv.pmf(0)
hasta2=rv.pmf(1)
hasta3=rv.pmf(2)
print(hasta1)
print(hasta2)
print(hasta3)
print(hasta1+hasta2+hasta3)

0.0009765625
0.00976562500000001
0.04394531249999999
0.0546875

In [155]:
# en az üç kişinin:
hasta_enaz=1-hasta1-hasta2-hasta3
hasta_enaz

0.9453125