In [2]:
import pyodbc
import pandas as pd
import seaborn as sns

**1- Import the "IMDB top 1000_LV.csv" dataset with Python.**

In [5]:
df=pd.read_csv("IMDB top 1000_LV.csv")
df.head(2)

,Movie_ID,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Year,Directors,Stars,Votes,Gross($M)
0,1,The Shawshank Redemption,13+,142,Drama,9.3,80,Two imprisoned men bond over a number of years...,1994,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",2377444,28.34
1,2,The Godfather,16,175,"Crime, Drama",9.2,100,An organized crime dynasty's aging patriarch t...,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1646788,134.97

**2- Create an empty table in a database with Python.**

In [6]:
create database

Successful!

Database is created successfully

Query successful!

Query successful!

**3- Insert the "IMDB top 1000_LV.csv" dataset into the database with Python.**

**4- With Python and related sql queries from the database:**

<br>- Find number of movies
<br>- Find the highest rated movie
<br>- Find the second highest rated movie
<br>- Find the number of movies produced before 2000
<br>- Find the average gross of the movies by years.
<br>- Find the total number of movies by years.
<br>- Draw the frequency graph of the film ratings.
<br>- Find the top 10 movies with the highest gross and visualize them with a bar chart.
<br>- Find the total groos of the movies directed Peter Jackson.
<br>- Find the most popular star & most popular director and the number of movies they have included