In [4]:
import numpy as np
import pandas as pd

In [5]:
# index,columns,groupby,drop,dropna,head,shape,ndim,sixe,vales,loc,iloc,
# tail,geet_dummies,xs,join,merge,concat   -----en çok kullananlar

In [11]:
datam=[1,2,39,67,90]
datam

[1, 2, 39, 67, 90]

In [10]:
pd.DataFrame(datam,columns=["kolon_adı"])

   kolon_adı
0          1
1          2
2         39
3         67
4         90

In [12]:
### creating  a dataframe using a numpy arrays

In [13]:
a=np.arange(1,10).reshape(3,3)

In [14]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
pd.DataFrame(a,columns=["var1","var2","var3"])
# pandas df yap

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
pd.DataFrame(data=a,)  # columns yazmamız gerek sırada index vardı

In [18]:
df=pd.DataFrame(a,columns=["var1","var2","var3"])
df

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [20]:
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [21]:
df.tail()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [22]:
df.sum()

var1    12
var2    15
var3    18
dtype: int64

In [23]:
df.columns  # index obj. dönderir

Index(['var1', 'var2', 'var3'], dtype='object')

In [24]:
df.columns=["new1","new2","new3"]

In [25]:
df

   new1  new2  new3
0     1     2     3
1     4     5     6
2     7     8     9

In [26]:
df.size

9

In [27]:
df.shape

(3, 3)

In [28]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [30]:
type(df.values)

numpy.ndarray

In [ ]:
### creating a dataframe using a dict

In [31]:
s1=np.random.randint(10, size=5)
s2=np.random.randint(10, size=5)
s3=np.random.randint(10, size=5)

In [32]:
s1

array([6, 5, 3, 0, 4])

##