# pandas exelden fonksiyonlu hayat pandasla geçer.Tablolar DataFrame

pandas ta indexi biz yapabiliriz, seriler sütundur iki dizi df oluşturur.

In [1]:
import numpy as np
import pandas as pd

In [2]:
### creating a pandas series with basic format

In [3]:
import pandas as pd

In [4]:
pd.Series([10,88,3,4,5,]) # 0kolon şeklinde anlaşılır gösterir

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [5]:
ser=pd.Series([10,88,3,4,5,])

In [6]:
type(ser)

pandas.core.series.Series

In [7]:
ser.dtype

dtype('int64')

In [8]:
ser.values

array([10, 88,  3,  4,  5], dtype=int64)

In [9]:
type(ser.values)

numpy.ndarray

In [10]:
for i in ser.values:  # seri elmanları
    print(i)

10
88
3
4
5

In [11]:
[i for i in ser.values]

[10, 88, 3, 4, 5]

In [12]:
ser.head(2)  # baş default 5

0    10
1    88
dtype: int64

In [13]:
ser.tail(2)# son default 5

3    4
4    5
dtype: int64

In [14]:
pd.Series([i for i in "clarusway"])  # object ise str dir, diğer int, float

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [15]:
## creating pandas series using a "list","numpy-array","dict"

In [34]:
labels = ["a", "b", "c"]

my_list = [10, 20, 30]

arr = np.array([10, 20, 30])

d = {"a" : 10, "b" : 20, "c" : 30}

In [35]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [36]:
[10,20,30]

[10, 20, 30]

In [37]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [38]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [21]:
arr

array([10, 20, 30])

In [39]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [23]:
d

{'a': 10, 'b': 20, 'c': 30}

In [24]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [40]:
pd.Series(d,["w","c","z"])  # c keyi varsa döndürür

w     NaN
c    30.0
z     NaN
dtype: float64

In [41]:
a=np.nan

In [27]:
a

nan

In [42]:
##data in series

In [43]:
labels

['a', 'b', 'c']

In [44]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [45]:
mix_data=[1,"cat",True]

In [46]:
pd.Series(mix_data)

0       1
1     cat
2    True
dtype: object

# sorting index, sorting values, check data if it is in the pd.Series

In [47]:
s = pd.Series(['p', 'q', 'r', 's'], index=[3, 2, 4, 5])
s.sort_index()            # index e göre sıraladı

2    q
3    p
4    r
5    s
dtype: object

In [48]:
s

3    p
2    q
4    r
5    s
dtype: object

In [49]:
s.sort_index()

2    q
3    p
4    r
5    s
dtype: object

In [50]:
s.sort_index(ascending=False) # ascending false olursa tersten

5    s
4    r
3    p
2    q
dtype: object

In [51]:
s.sort_index(inplace=True) # kalıcı yapar
s

2    q
3    p
4    r
5    s
dtype: object

In [53]:
s = pd.Series(['p', 'q', 'r', 's'], index=[3, 2, 4, np.nan])
s.sort_index(na_position='first') # nan es sona gider, position first en baş

NaN    s
2.0    q
3.0    p
4.0    r
dtype: object

In [54]:
s.sort_index()  # nan sonda

2.0    q
3.0    p
4.0    r
NaN    s
dtype: object

In [57]:
s = pd.Series(['z', 'a', 'r', 's'], index=[3, 2, 4, np.nan])
s.sort_values()  # valulara bakar

2.0    a
4.0    r
NaN    s
3.0    z
dtype: object

In [58]:
s.sort_values(ascending=False, inplace=True)
s         #kalıcı yapar, nan sonda, valular tersten z den

3.0    z
NaN    s
4.0    r
2.0    a
dtype: object


# "isin" ---  içindemi   indexte true false dönderir

In [59]:
s = pd.Series(['dog', 'cow', 'dog', 'cat', 'dog',
               'lion'], name='animal')

In [60]:
s.isin(['cow', 'dog'])

0     True
1     True
2     True
3    False
4     True
5    False
Name: animal, dtype: bool

In [62]:
s.isin(['dog'])

0     True
1    False
2     True
3    False
4     True
5    False
Name: animal, dtype: bool

# index pandas series

In [64]:
ser1=pd.Series([1,2,3,4],index=["usa","germany","ussr","japan"])
ser1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

ser2=pd.Series([1,2,5,4],index=["usa","germany","italyussr","japan"])