In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from scipy import stats
import math
import matplotlib.pyplot as plt

### EXERCISE 1. 
The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

**We will use z-test because the standart deviation of population is given and sample size > 30**

In [1]:
# H0: mu0 = 13.20
# H1: mu0 < 13.20

In [3]:
n = 40  #sample size
sigma = 2.50  #STD - population
mu = 13.20  #population mean
xbar = 12.20  #sample mean

 **z_test = (xbar-μ) / (σ/sqrt(n))**

In [4]:
z_test = (xbar - mu) / (sigma / np.sqrt(n))
z_test

-2.5298221281347035

In [5]:
Zα = -2.325

In [6]:
Zα = -2.325 

if z_test < Zα:
    print("Reject the Null")
else:
    print("Fail to reject Null")

Reject the Null

Confirm with **p_value**

In [7]:
pvalue = stats.norm.cdf(z_test)
pvalue

0.005706018193000826

In [9]:
alpha = 0.01
if pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

### EXERCISE 2.
Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

In [10]:
df1 = pd.read_excel("soil.xlsx")
df1.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [15]:
df1.Soil1.mean()

1.6918

In [16]:
df1.Soil2.mean()

1.4171142857142855

We don't know the sigma value of the population, so t_test will be used.

In [17]:
# H0: mu1 = mu2
# H1: mu1 != mu2

In [11]:
df1.isnull().value_counts()

Soil1  Soil2
False  False    30
True   False     5
dtype: int64

In [12]:
indTest = stats.ttest_ind(df1.Soil1, df1.Soil2, nan_policy = 'omit')
indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.5932287323528147e-06)

In [25]:
indTest.pvalue

2.5932287323528147e-06

In [14]:

indTest1 = stats.ttest_ind(df1.dropna()["Soil1"], df1.dropna()["Soil2"])

indTest1

Ttest_indResult(statistic=5.134893443609086, pvalue=3.4402046436336477e-06)

In [15]:
indTest1.pvalue

3.4402046436336477e-06

In [16]:
alpha = 0.01
if indTest1.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

### EXERCISE 3. 
The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

### EXERCISE 4.
The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.