In [1]:
import pandas as pd

In [13]:
df=pd.read_excel('Task1.xlsx')
df

    MUSTERI_NO           TELEFON
0            1        5333371000
1            2        5354321938
2            3           3840812
3            3         545 12 15
4            4    0212 512 12 78
5            5    0312 244 12 45
6            6    0216 441 45 12
7            7     0273 574 19 1
8            7        5353415643
9            8        5422388080
10           9           1111111
11          10        3121111111
12          11  +90543 337 91 31
13          12     272 415 56 58
14          13    0312 244 12 47
15          14    0312 244 12 48
16          15    0315 233 12 33
17          15        5444321939
18          16        2164177175

In [10]:
df.TELEFON

0           5333371000
1           5354321938
2              3840812
3            545 12 15
4       0212 512 12 78
5       0312 244 12 45
6       0216 441 45 12
7        0273 574 19 1
8           5353415643
9           5422388080
10             1111111
11          3121111111
12    +90543 337 91 31
13       272 415 56 58
14      0312 244 12 47
15      0312 244 12 48
16      0315 233 12 33
17          5444321939
18          2164177175
Name: TELEFON, dtype: object

In [14]:
df.columns=['musteri_no','tel']

In [15]:
df.tel.str.replace(' ','')

0               NaN
1               NaN
2               NaN
3           5451215
4       02125121278
5       03122441245
6       02164414512
7        0273574191
8               NaN
9               NaN
10              NaN
11              NaN
12    +905433379131
13       2724155658
14      03122441247
15      03122441248
16      03152331233
17              NaN
18              NaN
Name: tel, dtype: object

In [16]:
df

    musteri_no               tel
0            1        5333371000
1            2        5354321938
2            3           3840812
3            3         545 12 15
4            4    0212 512 12 78
5            5    0312 244 12 45
6            6    0216 441 45 12
7            7     0273 574 19 1
8            7        5353415643
9            8        5422388080
10           9           1111111
11          10        3121111111
12          11  +90543 337 91 31
13          12     272 415 56 58
14          13    0312 244 12 47
15          14    0312 244 12 48
16          15    0315 233 12 33
17          15        5444321939
18          16        2164177175

In [17]:
df.to_csv('Task1.csv',index=False)

In [18]:
df

    musteri_no               tel
0            1        5333371000
1            2        5354321938
2            3           3840812
3            3         545 12 15
4            4    0212 512 12 78
5            5    0312 244 12 45
6            6    0216 441 45 12
7            7     0273 574 19 1
8            7        5353415643
9            8        5422388080
10           9           1111111
11          10        3121111111
12          11  +90543 337 91 31
13          12     272 415 56 58
14          13    0312 244 12 47
15          14    0312 244 12 48
16          15    0315 233 12 33
17          15        5444321939
18          16        2164177175

In [22]:
df.tel.str.replace(' ','')

0               NaN
1               NaN
2               NaN
3           5451215
4       02125121278
5       03122441245
6       02164414512
7        0273574191
8               NaN
9               NaN
10              NaN
11              NaN
12    +905433379131
13       2724155658
14      03122441247
15      03122441248
16      03152331233
17              NaN
18              NaN
Name: tel, dtype: object

In [21]:
df.columns=['musteri_no','tel']

In [27]:
task2=pd.read_excel("task2.xlsx")

In [35]:
task2.EMAIL=task2.EMAIL.str.lower().str.split("@")

AttributeError: Can only use .str accessor with string values!

In [39]:
task2["isim"]=task2.EMAIL.map(lambda x:x[0])
task2["isim"]

0    deniz
1    kadir
2    kadir
3    ceyda
4      ali
5    tamer
6     müge
Name: isim, dtype: object

In [40]:
task2["şirket"]=task2.EMAIL.map(lambda x:x[1])
task2["şirket"]

0    sadeyazilim.com
1    sadeyazilim.com
2         afirma.com
3          gmail.com
4          gmail.com
5    sadeyazilim.com
6    testbank.com.tr
Name: şirket, dtype: object

In [42]:
task2.şirket.value_counts()

sadeyazilim.com    3
gmail.com          2
testbank.com.tr    1
afirma.com         1
Name: şirket, dtype: int64

In [41]:
task2

   ID                     EMAIL   isim           şirket
0   1  [deniz, sadeyazilim.com]  deniz  sadeyazilim.com
1   2  [kadir, sadeyazilim.com]  kadir  sadeyazilim.com
2   3       [kadir, afirma.com]  kadir       afirma.com
3   4        [ceyda, gmail.com]  ceyda        gmail.com
4   5          [ali, gmail.com]    ali        gmail.com
5   6  [tamer, sadeyazilim.com]  tamer  sadeyazilim.com
6   7   [müge, testbank.com.tr]   müge  testbank.com.tr

In [44]:
firma={}
for i in task2.EMAIL:
    if i[1] not in firma:
        firma[i[1]] =[i[0]]
    else:
        firma[i[1]].append(i[0])
print(firma)

{'sadeyazilim.com': ['deniz', 'kadir', 'tamer'], 'afirma.com': ['kadir'], 'gmail.com': ['ceyda', 'ali'], 'testbank.com.tr': ['müge']}

In [46]:
df=pd.read_excel("task3.xlsx")
df

,IS_ADRESI,EV_ADRESI
0,Tugay Yolu Cad. No:60 Maltepe,Tugay Yolu Caddesi No60 MALTEPE
1,İnkılap Mah. Küçüksu Cd. No 6 Ümraniye,İnkılap Mahallesi Küçüksu Caddesi No 6 Ümraniye
2,Soğanlık Mah. Muş Sk. No 63 Kartal,Soğanlık Mah. Muş Sk. No 61 Kartal

In [52]:
df["iş"]=df.IS_ADRESI.map(lambda x:x.lower().split())
df["iş"]

0                [tugay, yolu, cad., no:60, maltepe]
1    [i̇nkılap, mah., küçüksu, cd., no, 6, ümraniye]
2         [soğanlık, mah., muş, sk., no, 63, kartal]
Name: iş, dtype: object

In [53]:
df["ev"]=df.EV_ADRESI.map(lambda x:x.lower().split())
df["ev"]

0                [tugay, yolu, caddesi, no60, maltepe]
1    [i̇nkılap, mahallesi, küçüksu, caddesi, no, 6,...
2           [soğanlık, mah., muş, sk., no, 61, kartal]
Name: ev, dtype: object