In [59]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

In [60]:
df = pd.read_json("stage1.json")

In [61]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'First Registration', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version'],
      dtype='object')

In [62]:
df.head()

,make_model,body_type,price,vat,km,registration,prev_owner,hp,Type,Next Inspection,Inspection new,Warranty,Make,Model,First Registration,Body Color,Upholstery,Body,Nr. of Doors,Nr. of Seats,Gearing Type,Displacement,Weight,Drive chain,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,Emission Label,Gears,Country version
0,Audi A1,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]","[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]",,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],"[\n, Automatic, \n]","[\n1,422 cc\n]","[\n1,220 kg\n]",[\nfront\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...",None,None,None
1,Audi A1,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,"[, Used, , Gasoline]",None,None,None,\nAudi\n,"[\n, A1, \n]","[\n, 2017, \n]","[\n, Red, \n]","[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],"[\n, Automatic, \n]","[\n1,798 cc\n]","[\n1,255 kg\n]",[\nfront\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\n4 (Green)\n],[\n7\n],None
2,Audi A1,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",None,None,,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],"[\n, Automatic, \n]","[\n1,598 cc\n]",None,[\nfront\n],"[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...",[\n4 (Green)\n],None,None
3,Audi A1,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",None,None,None,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Brown, \n]",None,"[\n, Sedans, \n]",[\n3\n],[\n4\n],"[\n, Automatic, \n]","[\n1,422 cc\n]","[\n1,195 kg\n]",None,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...",None,[\n6\n],None
4,Audi A1,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",None,"[\nYes\n, \n109 g CO2/km (comb)\n]",,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",None,[\nfront\n],"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...",None,None,[\nGermany\n]

### Öncelikle Dublicate satırları düşüyoruz.

In [63]:
df.shape

(15919, 34)

In [64]:
df.shape

(15919, 34)

### make_model 
**Bu sütunda yer alan veriler üzerinde herhangi bir cleaning işlemi yapmaya gerek yok.**

In [65]:
df.make_model.sample(5)

7710        Opel Astra
13657     Renault Clio
2543           Audi A1
12100    Opel Insignia
12993    Opel Insignia
Name: make_model, dtype: object

In [66]:
df.make_model.isnull().sum()

0

### body_type
**bu sütun üzerinde data cleaning işlemi yapmaya gerek yok.

In [67]:
df.body_type.isnull().sum()

60

In [68]:
df.body_type.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [69]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'First Registration', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version'],
      dtype='object')

### price

**Bu sütunda integer değerler var ve veri tipi de integer. Null değerler yok fakat outlier değerler var.**

In [70]:
df.price.dtype

dtype('int64')

In [71]:
df.price.isnull().sum()

0

In [72]:
min_price,max_price = min(df.price), max(df.price)

In [73]:
[min_price,max_price]

[13, 74600]

**Outlier değerler var bunlar ile daha sonra ilgileneceğiz. Outlier değerleri tespit edip bunlar ile ilgili 
karar vereceğiz.**

### vat 
**bu sütunda yer alan değerler için web sitesini incelediğimiz zaman 2 farklı seçenek vardı.
bunlardan null olanları false diğerlerini True yaptık.**

In [74]:
df.vat.sample(5)

14113                None
14323      VAT deductible
6118                 None
747      Price negotiable
20       Price negotiable
Name: vat, dtype: object

In [75]:
df.vat.unique()

array(['VAT deductible', 'Price negotiable', None], dtype=object)

In [76]:
df.vat.value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [77]:
df.vat.isnull().sum()

4513

In [78]:
type(df.vat[4])

NoneType

In [79]:
df.vat = df.vat.map(lambda x: False if x == None else True)

In [80]:
df.vat.value_counts()

True     11406
False     4513
Name: vat, dtype: int64

In [81]:
np.nan == np.nan  # np.nan özel bir değer. kendisine bile eşit değil.

False

In [82]:
type(np.nan)  # değer tipi olarak float döndürür.

float

### km 
**sütunu string veri tipinde. Bu sütunu temizleyip integer veri tipine çevirmeliyiz.**

In [219]:
df.km

0        56013.0
1        80000.0
2        83450.0
3        73000.0
4        16200.0
          ...
15914        NaN
15915     9900.0
15916       15.0
15917       10.0
15918        NaN
Name: km, Length: 15919, dtype: float64

In [84]:
df.km = df.km.str.replace(',','').str.strip(' km').replace('-', np.nan).astype(float)

**km sütunu içinde yer alan non-integer ifadeler temizlendi. Yerlerine nan değerler atandı. Nan değerlerin yerine**
**diğer sütunlar incelendikten sonra ortalama bir km değeri atamayı planlıyoruz. Şimdilik işlem yapılmadı.**

In [85]:
df.km.isnull().sum()

1024

In [86]:
df[df.km.isnull()]['First Registration'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2019, \n]    147
[\n, 2018, \n]     38
[\n, 2017, \n]      1
Name: First Registration, dtype: int64

### registration Sütunu

**Veri tipini datetime tipine çevirmeliyiz. Çünkü tarih verisi içeriyor.**

In [87]:
df.registration.head()

0    01/2016
1    03/2017
2    02/2016
3    08/2016
4    05/2016
Name: registration, dtype: object

In [88]:
df.registration.isnull().sum()

0

In [89]:
df.registration = df.registration.replace('-/-', np.nan)

In [90]:
df.registration = pd.to_datetime(df.registration)

In [92]:
df["First Registration"].isnull().sum()

1597

In [93]:
df.registration.isnull().sum()

1597

In [94]:
df[['First Registration','registration']].sample(5)
# first registration sütunun  ile registration sütunu benzer değerleri içerdiği için
# first registration sütunu drop edilebilir

      First Registration registration
15012     [\n, 2018, \n]   2018-06-01
2050      [\n, 2019, \n]   2019-01-01
12864     [\n, 2019, \n]   2019-03-01
6757      [\n, 2017, \n]   2017-06-01
234       [\n, 2016, \n]   2016-11-01

In [95]:
df.drop('First Registration',axis=1,inplace=True)

###  registration sütununda yer alan nan değerler için daha sonra tekrar bakılacak.

### 'prev_owner' sütunu
**arabanın kaçıncı el olduğu bilgisi yer alıyor. Bu sütunun daha anlamlı hale gelmesi için integer'a çevirilebilir.**

In [96]:
df.prev_owner.head()

0    2 previous owners
1                 None
2     1 previous owner
3     1 previous owner
4     1 previous owner
Name: prev_owner, dtype: object

In [97]:
df.prev_owner.unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [98]:
df.prev_owner.isnull().sum()

6828

In [99]:
df.prev_owner = df.prev_owner.str.strip('previous owners').astype(float)

In [41]:
# df.prev_owner.map(lambda x: x.split()[0],na_action='ignore').astype(float)

### hp sütunu
** bu sütunu integer ya da float a çevirebiliriz.**

In [100]:
df.hp.value_counts()

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
115 kW       1
239 kW       1
163 kW       1
9 kW         1
44 kW        1
Name: hp, Length: 81, dtype: int64

In [101]:
df.hp

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [102]:
df.hp = df.hp.str.strip(" kW").replace("-",np.nan).astype(float)

In [103]:
df.hp.isnull().sum()

88

### Type sütunu

In [104]:
df.Type

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [105]:
df.Type.map(lambda x: x[1],na_action='ignore').sample(5)
# siteyi incelediğimiz bu bilgilerin "Vehicle condition" olarak karşımıza çıktığını görmekteyiz. Serda
# bu nedenle Vehicle condition sütunu oluşturup type sütununu parçalıyoruz.

2738              Used
6781              Used
767               Used
14351    Demonstration
2975              Used
Name: Type, dtype: object

In [106]:
df["Vehicle condition"] = df.Type.map(lambda x: x[1],na_action='ignore')

In [107]:
df["Vehicle condition"].head()

0    Used
1    Used
2    Used
3    Used
4    Used
Name: Vehicle condition, dtype: object

In [108]:
df.Type.map(lambda x: x[3],na_action='ignore').str.contains("Particulate Filter").sum()
# particulate filter içeren satır sayısı

4819

In [109]:
df["particul_filter"] = df.Type.map(lambda x: x[3], na_action='ignore').str.extract("\(([^)]+)").fillna(False)
# particule filter için regex denemesi () parantez içinde yer yazan 'particulate filter' string ifadeyi almak için
# içinde particulate filter yazmayan nan değerlere False atadık

In [110]:
df.particul_filter = df.particul_filter.map(lambda x: True if x else False)
# içinde particulate filter yazanları True yazmayanlar ise zaten false

In [112]:
df.particul_filter

0         True
1        False
2         True
3         True
4         True
         ...
15914     True
15915     True
15916    False
15917    False
15918    False
Name: particul_filter, Length: 15919, dtype: bool

In [54]:
df["Fuel Type"] = df.Type.map(lambda x: x[3],na_action='ignore').str.extract("([^(]+)")
# ( karakterinden önceki her şeyi al 
# bu sayede araçların yakıt tiplerini çekmiş olacağız.

In [55]:
df["Fuel Type"]

0                          Diesel
1                         Gasoline
2                          Diesel
3                          Diesel
4                          Diesel
                   ...
15914                      Diesel
15915    Super 95 / Super Plus 98
15916                       Diesel
15917                       Diesel
15918                     Super 95
Name: Fuel Type, Length: 15919, dtype: object

In [56]:
df.Type

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [57]:
# Type sütunundan Vehicle condition,  Fuel Type ve particul_filter olmak üzere yeni kolanlar oluşturduk
# Type sütunu artık düşebiliriz
df.drop('Type',axis=1, inplace=True)

In [58]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Next Inspection', 'Inspection new', 'Warranty',
       'Make', 'Model', 'Body Color', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Weight', 'Drive chain',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version',
       'Vehicle condition', 'particul_filter', 'Fuel Type'],
      dtype='object')

### 'Next Inspection' sütunu

In [59]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Next Inspection', 'Inspection new', 'Warranty',
       'Make', 'Model', 'Body Color', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Weight', 'Drive chain',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version',
       'Vehicle condition', 'particul_filter', 'Fuel Type'],
      dtype='object')

In [60]:
df['Next Inspection'].isnull().sum()

12384

In [61]:
# null sayısına bakılırsa bu sütunu düşebiliriz.

In [62]:
df.drop('Next Inspection',axis=1, inplace=True)

### 'Inspection new' Sütunu

In [63]:
df['Inspection new'].isnull().sum()

11987

In [64]:
# null sayısına bakılırsa bu sütunu da düşebiliriz.
df.drop('Inspection new',axis=1,inplace = True)

### 'Warranty' sütunu

In [65]:
df.Warranty.isnull().sum()

5420

In [114]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

In [116]:
[df.Warranty == ""]df['registration']

AttributeError: 'list' object has no attribute 'df'

In [117]:
df[df.Warranty == ""].shape

(7703, 35)

In [68]:
# null ve "" ifadeleri 13000 den fazla. Bu sütunun neredeyse tamamı da null. Düşülebilir. 
+df.drop('Warranty',axis=1,inplace=True)

In [69]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### Make ve Model Sütunları

In [70]:
df.Make = df.Make.str.strip("\n")

In [71]:
df.Make

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: Make, Length: 15919, dtype: object

In [119]:
df.Model = df.Model.map(lambda x: x[1],na_action='ignore')

In [120]:
df.Model

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: Model, Length: 15919, dtype: object

### 'Body Color' Sütunu

In [73]:
df['Body Color'] = df['Body Color'].map(lambda x: x[1],na_action='ignore')

In [74]:
df['Body Color']

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [75]:
df.Upholstery.map(lambda x: x).value_counts()
# bu sütunu incelediğimiz zaman arabaların koltuklarının deri mi kumaşmı olduğu bilgis ön plana çıkıyor. Ben fiyata etki edecek 
#olan kumaş mı deri mi kısmını alıp gerisini atacağım.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nFull leather, Beige\n]      36
[\nVelour, Black\n]            36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nalcantara\n]                 2
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [76]:
df.Upholstery.isnull().sum()

3720

In [77]:
df.Upholstery = df.Upholstery.map(lambda x: x[0].strip("\n").split(",")[0],na_action='ignore')

In [78]:
df.Upholstery.isnull().sum()

3720

In [79]:
df.Upholstery.unique()

array(['Cloth', None, 'Part leather', 'Full leather', 'Black', 'Other',
       'alcantara', 'Velour', 'Grey', 'Blue', 'White', 'Beige', 'Brown'],
      dtype=object)

In [80]:
df.Upholstery

0               Cloth
1               Cloth
2               Cloth
3                None
4               Cloth
             ...
15914            None
15915           Cloth
15916    Full leather
15917    Part leather
15918    Full leather
Name: Upholstery, Length: 15919, dtype: object

In [81]:
color = ['Grey','Blue','White','Beige', 'Brown','Black','Other']

In [82]:
df.Upholstery = df.Upholstery.map(lambda x: None if x in color else x)

In [83]:
df.Upholstery

0               Cloth
1               Cloth
2               Cloth
3                None
4               Cloth
             ...
15914            None
15915           Cloth
15916    Full leather
15917    Part leather
15918    Full leather
Name: Upholstery, Length: 15919, dtype: object

In [84]:
df.Upholstery.isnull().sum()

4871

### Body Sütunu

In [85]:
df.Body = df.Body.map(lambda x: x[1],na_action='ignore')

In [133]:
df.Body.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

### 'Nr. of Doors' sütunu

In [139]:
df['Nr. of Doors'] = df['Nr. of Doors'].map(lambda x: x[0].strip("\n"),na_action='ignore')

In [140]:
df['Nr. of Doors'].value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
7          1
1          1
Name: Nr. of Doors, dtype: int64

In [141]:
df['Nr. of Doors'].isnull().sum()

212

In [142]:
df['Nr. of Doors'] = df['Nr. of Doors'].astype(float)

In [143]:
df['Nr. of Doors'].dtype

dtype('float64')

### 'Gearing Type'

In [144]:
df['Gearing Type'].map(lambda x: x[1],na_action='ignore').unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [145]:
df['Gearing Type'] = df['Gearing Type'].map(lambda x: x[1],na_action='ignore')

In [146]:
df['Gearing Type'].isnull().sum()

0

In [147]:
df['Gearing Type']

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
15914    Automatic
15915    Automatic
15916    Automatic
15917    Automatic
15918    Automatic
Name: Gearing Type, Length: 15919, dtype: object

In [94]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### 'Displacement' Sütunu

In [172]:
df['Displacement'].sample(10)

1572     999.0
8473     398.0
15793    598.0
11865    956.0
8169     999.0
8443     398.0
4232     598.0
7250     999.0
13421    461.0
3721     598.0
Name: Displacement, dtype: float64

In [148]:
df['Displacement'] = df['Displacement'].map(lambda x: x[0].strip("\n1,").strip(" cc"),na_action='ignore')

In [149]:
sum(df['Displacement'] == '')
# 36 tane '' değeri var.

36

In [150]:
df['Displacement'] = df['Displacement'].map(lambda x: x if x.isnumeric() else np.nan,na_action='ignore')

In [162]:
sum(df['Displacement'] == '')
# kodumu çalışmış

0

In [163]:
df['Displacement'] = df['Displacement'].astype(float)

In [164]:
df['Displacement'].isnull().sum()

642

In [165]:
sum(df.Displacement== 0.)

0

In [167]:
df.Displacement = df.Displacement.map(lambda x: np.nan if x == 0. else x)

In [168]:
sum(df.Displacement== 0.)

0

In [169]:
df['Displacement'].isnull().sum()

642

In [170]:
df['Displacement']

0        422.0
1        798.0
2        598.0
3        422.0
4        422.0
         ...
15914    997.0
15915    798.0
15916    997.0
15917    997.0
15918    798.0
Name: Displacement, Length: 15919, dtype: float64

### Weight Sütunu

In [106]:
df.Weight[0]
# tek bir satır ile veri tipimizi tanımış olduk.
# weight sütununda birim yazmasına gerek yok. Bu sütunu da float yapabiliriz

['\n1,220 kg\n']

In [173]:
df.Weight = df.Weight.map(lambda x: x[0].strip('\n1,').strip(" kg"),na_action='ignore')

In [174]:
df.Weight.isnull().sum()

6974

### 'Drive chain' Sütunu

In [109]:
df['Drive chain']

0        [\nfront\n]
1        [\nfront\n]
2        [\nfront\n]
3               None
4        [\nfront\n]
            ...
15914    [\nfront\n]
15915    [\nfront\n]
15916    [\nfront\n]
15917    [\nfront\n]
15918      [\n4WD\n]
Name: Drive chain, Length: 15919, dtype: object

In [176]:
df['Drive chain'] = df['Drive chain'].map(lambda x: x[0].strip('\n'),na_action='ignore')

In [177]:
df['Drive chain'].unique()

array(['front', None, '4WD', 'rear'], dtype=object)

In [178]:
df['Drive chain'].isnull().sum()

6858

In [179]:
df['Drive chain'].value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive chain, dtype: int64

In [181]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

### Consumption

* bu sütunda 3 farklı veri bulunmakta fakat bazı sütunlarda 3 ten daha az veya 
* daha fazla verilerde bulunmakta. Bu nedenle sütunda gerekli temizlikleri yaptıktan sonra ortalama alacağız.

In [113]:
df.Consumption.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]              304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]              257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]              253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]              244
                                                                                     ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                   1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]        1
Name: Consumption, Length: 881, dtype: int64

In [114]:
df.Consumption[0]

[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city)'], ['3.5 l/100 km (country)']]

In [115]:
df.Consumption.sample(10)

93       [[4.9 l/100 km (comb)], [6.2 l/100 km (city)],...
1261     [[4.2 l/100 km (comb)], [5 l/100 km (city)], [...
7559     [\n, 4.5 l/100 km (comb), \n, 5.4 l/100 km (ci...
186      [[4.4 l/100 km (comb)], [5.4 l/100 km (city)],...
10080                                                 None
11999    [[5.7 l/100 km (comb)], [7.2 l/100 km (city)],...
4914     [[5.1 l/100 km (comb)], [6 l/100 km (city)], [...
1864     [[4.4 l/100 km (comb)], [5.2 l/100 km (city)],...
574      [[4.3 l/100 km (comb)], [5.1 l/100 km (city)],...
7816     [[5.9 l/100 km (comb)], [7.4 l/100 km (city)],...
Name: Consumption, dtype: object

In [116]:
df.Consumption[8013]
# bu index de 7 eleman var. 
# boş elemanların hepsi de \n

['\n',
 '5 l/100 km (comb)',
 '\n',
 '5.9 l/100 km (city)',
 '\n',
 '4.5 l/100 km (country)',
 '\n']

In [117]:
df.Consumption[10]

[['4 l/100 km (comb)'], ['4.6 l/100 km (city)'], ['3.6 l/100 km (country)']]

In [118]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### CO2 Emission sütunu

In [119]:
df['CO2 Emission'][0]

['\n99 g CO2/km (comb)\n']

In [120]:
df['CO2 Emission'].value_counts().sample(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n91 g CO2/km (comb)\n]        31
[\n193 g CO2/km (comb)\n]        1
[\n115 g CO2/km (comb)\n]       86
[\n100 g CO2/km (comb)\n]       36
[\n94 g CO2/km (comb)\n]        37
[\n191 g CO2/km (comb)\n]        2
[\n0 g CO2/km (comb)\n]          2
[\n130 g CO2/km (comb)\n]      180
[\n1,060 g CO2/km (comb)\n]      1
[\n132 g CO2/km (comb)\n]      100
Name: CO2 Emission, dtype: int64

In [121]:
# tüm satırlar tek elemanlı listeden oluşuyor. 1 den fazla elemanı olan 
# tüm satırlar [[], [], []]  şeklinde bunları none yapacağız.

In [190]:
df['CO2 Emission'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n193 g CO2/km (comb)\n]         1
[\n171 g CO2/km (comb)\n]         1
[\n990 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]       1
[\n183 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [122]:
df['CO2 Emission'] = df['CO2 Emission'].map(lambda x: None if len(x) > 3 else x,na_action='ignore')

In [123]:
df['CO2 Emission'] = df['CO2 Emission'].map(lambda x: x[0],na_action='ignore').str.strip("\n")
df['CO2 Emission']

0         99 g CO2/km (comb)
1        129 g CO2/km (comb)
2         99 g CO2/km (comb)
3         99 g CO2/km (comb)
4        109 g CO2/km (comb)
                ...
15914    139 g CO2/km (comb)
15915    168 g CO2/km (comb)
15916    139 g CO2/km (comb)
15917    139 g CO2/km (comb)
15918    153 g CO2/km (comb)
Name: CO2 Emission, Length: 15919, dtype: object

In [124]:
# df['CO2 Emission'].str.strip(" g CO2/km (comb)").astype(float)

In [125]:
df['CO2 Emission'] = df['CO2 Emission'].str.replace(",",".")

In [126]:
df['CO2 Emission'] = df['CO2 Emission'].str.strip(" g CO2/km (comb)").astype(float)

In [127]:
df['CO2 Emission'].isnull().sum()

2436

In [128]:
df['CO2 Emission']

0         99.0
1        129.0
2         99.0
3         99.0
4        109.0
         ...
15914    139.0
15915    168.0
15916    139.0
15917    139.0
15918    153.0
Name: CO2 Emission, Length: 15919, dtype: float64

In [129]:
df['CO2 Emission'].isnull().sum()

2436

In [130]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### 'Emission Class' Sütunu

In [131]:
df['Emission Class'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [132]:
df['Emission Class'][0]
# tek parça string eleman

['\nEuro 6\n']

In [133]:
df['Emission Class'] = df['Emission Class'].map(lambda x: np.nan if len(x)>3 else x,na_action='ignore')

In [134]:
df['Emission Class']

0              [\nEuro 6\n]
1              [\nEuro 6\n]
2              [\nEuro 6\n]
3              [\nEuro 6\n]
4              [\nEuro 6\n]
                ...
15914                  None
15915                  None
15916    [\nEuro 6d-TEMP\n]
15917          [\nEuro 6\n]
15918          [\nEuro 6\n]
Name: Emission Class, Length: 15919, dtype: object

In [135]:
df['Emission Class'] = df['Emission Class'].map(lambda x: x[0],na_action='ignore').str.strip("\n")

In [136]:
df['Emission Class'].unique()

array(['Euro 6', None, 'Euro 5', 'Euro 6d-TEMP', nan, 'Euro 6c', 'Euro 4',
       'Euro 6d'], dtype=object)

In [137]:
df['CO2 Emission'].sample(10)

9624     126.0
2770     110.0
8034       NaN
7137     128.0
14442    135.0
12511    149.0
4379     106.0
15510    153.0
12454      NaN
2953     119.0
Name: CO2 Emission, dtype: float64

In [138]:
df['CO2 Emission'].dropna().unique()

array([ 99.   , 129.   , 109.   ,   9.   ,  98.   ,  97.   , 105.   ,
        11.   , 103.   ,  10.   ,  95.   , 104.   ,  91.   ,  94.   ,
       117.   , 123.   , 106.   , 108.   , 121.   , 107.   , 101.   ,
       113.   , 137.   , 100.   , 116.   , 114.   , 118.   , 331.   ,
       115.   , 119.   ,  90.   , 136.   , 134.   , 110.   , 111.   ,
       120.   ,  89.   ,  14.   , 126.   ,   1.   , 128.   , 127.   ,
       138.   , 130.   , 125.   ,  85.   , 124.   ,  15.   ,  88.   ,
       189.   , 194.   , 149.   , 153.   , 188.   ,  36.   ,   1.06 ,
        96.   , 990.   , 146.   , 135.   , 158.   ,  12.087, 141.   ,
        17.   , 154.   , 150.   , 167.   , 174.   ,  93.   , 133.   ,
       131.   , 145.   , 147.   , 156.   ,  87.   ,   5.   , 148.   ,
       139.   , 151.   , 144.   , 168.   , 160.   , 170.   ,  80.   ,
        13.   , 155.   , 159.   ,   0.   , 143.   , 140.   ,   8.   ,
        12.324,  84.   , 165.   ,  51.   , 157.   , 169.   , 166.   ,
        53.   , 164.   , 175.   , 190.   , 161.   ,  39.   , 197.   ,
       184.   ,  14.457, 199.   ,  13.983, 187.   , 181.   , 186.   ,
       177.   , 180.   ,  16.   ,  45.   , 171.   , 183.   , 191.   ,
       193.   ])

### ['\nComfort & Convenience\n'] Sütunu

In [193]:
df.rename(columns={'\nComfort & Convenience\n':'comfort'},inplace=True)

In [194]:
df.comfort

0        [Air conditioning, Armrest, Automatic climate ...
1        [Air conditioning, Automatic climate control, ...
2        [Air conditioning, Cruise control, Electrical ...
3        [Air suspension, Armrest, Auxiliary heating, E...
4        [Air conditioning, Armrest, Automatic climate ...
                               ...
15914    [Air conditioning, Automatic climate control, ...
15915    [Air conditioning, Automatic climate control, ...
15916    [Air conditioning, Armrest, Automatic climate ...
15917    [Air conditioning, Automatic climate control, ...
15918    [Air conditioning, Automatic climate control, ...
Name: comfort, Length: 15919, dtype: object

In [195]:
comfort_unique = []
for i in df.comfort.dropna():
        for j in i:
            if j not in comfort_unique:
                comfort_unique.append(j)

In [196]:
comfort_unique
# unique özelliklerin hepsini bir listede topladık.

['Air conditioning',
 'Armrest',
 'Automatic climate control',
 'Cruise control',
 'Electrical side mirrors',
 'Hill Holder',
 'Leather steering wheel',
 'Light sensor',
 'Multi-function steering wheel',
 'Navigation system',
 'Park Distance Control',
 'Parking assist system sensors rear',
 'Power windows',
 'Rain sensor',
 'Seat heating',
 'Start-stop system',
 'Lumbar support',
 'Tinted windows',
 'Parking assist system sensors front',
 'Air suspension',
 'Auxiliary heating',
 'Heads-up display',
 'Split rear seats',
 'Keyless central door lock',
 'Electrically heated windshield',
 'Seat ventilation',
 'Wind deflector',
 'Leather seats',
 'Sunroof',
 'Panorama roof',
 'Parking assist system camera',
 'Electrically adjustable seats',
 'Parking assist system self-steering',
 'Windshield',
 'Electric tailgate',
 'Heated steering wheel',
 'Massage seats',
 'Electric Starter']

In [197]:
# daha sonra bu sütunda yer alan uniq değerlerin hepsinden  sütunlar
# oluşturup her bir sütunda yer alan anahtar kelime için true false atayacağız.

In [199]:
df.comfort.map(lambda x:",".join(x),na_action="ignore").str.get_dummies(sep = ",")
#string hale getirmemzizz gerekli yoksa get dummies te hata verdi.

,Air conditioning,Air suspension,Armrest,Automatic climate control,Auxiliary heating,Cruise control,Electric Starter,Electric tailgate,Electrical side mirrors,Electrically adjustable seats,Electrically heated windshield,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather seats,Leather steering wheel,Light sensor,Lumbar support,Massage seats,Multi-function steering wheel,Navigation system,Panorama roof,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Seat ventilation,Split rear seats,Start-stop system,Sunroof,Tinted windows,Wind deflector,Windshield
0,1,0,1,1,0,1,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,1,0,1,0,0,0,1,1,1,1,0,0,1,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0
2,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,1,0,1,0,0,1,1,1,0,1,0,0,1,0,0,0,0
3,0,1,1,0,1,0,0,0,1,0,0,1,0,1,0,0,1,1,1,0,1,1,0,0,0,0,0,0,1,1,1,0,1,1,0,0,0,0
4,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,0,1,1,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,1,0,0,1,0,1,0,0,1,1,0,0,0,1,1,0,1,1,0,1,1,1,0,1,0,0,1,1,1,1,0,0,1,1,0,1,0,0
15915,1,0,0,1,0,1,0,1,1,0,1,1,1,1,1,0,1,1,1,0,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1,0,0,0
15916,1,0,1,1,0,1,0,1,1,0,1,1,1,0,0,0,1,1,0,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,0,0,0
15917,1,0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
15918,1,0,0,1,0,1,0,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0

In [ ]:
#df["col_name"] = [item[0] if type(item) == list else item for item in df["col_name"]]
#df["col_name"] = df["col_name"].apply(lambda item: item[0] if type(item) == list else item)

### '\nEntertainment & Media\n' Sütunu

In [207]:
df.rename(columns={'\nEntertainment & Media\n':'media'},inplace=True)

In [208]:
df.media.sample(5)

6879    [Bluetooth, Hands-free equipment, On-board com...
1720                                          [Bluetooth]
3371                                   [Bluetooth, Radio]
2355    [Bluetooth, CD player, Digital radio, Hands-fr...
3083    [Bluetooth, CD player, Hands-free equipment, O...
Name: media, dtype: object

In [209]:
media_unique = {j for i in df.media.dropna() for j in i}
# set comprehension ile nique değerlerini bulduk.

In [210]:
# comfort sütunu için yapmayı planladığımız işlemlerin aynısını bu sütunlar içinde yapabiliriz

In [211]:
df.media.str.get_dummies(",")
# buda olmadı

,'CD player','CD player'],'Digital radio','Digital radio'],'Hands-free equipment','Hands-free equipment'],'MP3','MP3'],'On-board computer','On-board computer'],'Radio','Radio'],'Sound system','Sound system'],'Television','Television'],'USB'],['Bluetooth',['Bluetooth'],['CD player',['CD player'],['Digital radio',['Digital radio'],['Hands-free equipment',['Hands-free equipment'],['MP3',['MP3'],['On-board computer',['On-board computer'],['Radio',['Radio'],['Sound system',['Sound system'],['USB']
0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15915,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15916,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15917,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15918,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [212]:
df.media.map(lambda x :",".join(x),na_action="ignore").str.get_dummies(sep = ",")

,Bluetooth,CD player,Digital radio,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB
0,1,0,0,1,0,1,1,0,0,0
1,1,0,0,1,0,1,1,1,0,0
2,0,0,0,0,1,1,0,0,0,0
3,1,1,0,1,1,1,1,1,0,1
4,1,1,0,1,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
15914,1,0,1,1,0,1,1,0,0,1
15915,1,0,1,1,0,0,1,0,0,1
15916,1,0,0,1,0,1,1,0,0,0
15917,1,0,1,0,0,0,1,0,0,1
15918,0,0,0,0,0,0,0,0,0,1

In [220]:
df.media

0        [Bluetooth, Hands-free equipment, On-board com...
1        [Bluetooth, Hands-free equipment, On-board com...
2                                 [MP3, On-board computer]
3        [Bluetooth, CD player, Hands-free equipment, M...
4        [Bluetooth, CD player, Hands-free equipment, M...
                               ...
15914    [Bluetooth, Digital radio, Hands-free equipmen...
15915    [Bluetooth, Digital radio, Hands-free equipmen...
15916    [Bluetooth, Hands-free equipment, On-board com...
15917               [Bluetooth, Digital radio, Radio, USB]
15918                                                [USB]
Name: media, Length: 15919, dtype: object

In [152]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', 'comfort', 'media', '\nExtras\n',
       '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version',
       'Vehicle condition', 'particul_filter', 'Fuel Type'],
      dtype='object')

### '\nExtras\n' sütunu

In [183]:
df.rename(columns= {'\nExtras\n':"Extras"},inplace=True)

In [184]:
df.Extras

0        [Alloy wheels, Catalytic Converter, Voice Cont...
1        [Alloy wheels, Sport seats, Sport suspension, ...
2                            [Alloy wheels, Voice Control]
3               [Alloy wheels, Sport seats, Voice Control]
4        [Alloy wheels, Sport package, Sport suspension...
                               ...
15914                         [Alloy wheels, Touch screen]
15915          [Alloy wheels, Touch screen, Voice Control]
15916                                       [Alloy wheels]
15917                         [Alloy wheels, Touch screen]
15918                         [Alloy wheels, Touch screen]
Name: Extras, Length: 15919, dtype: object

In [186]:
df.Extras.sample(5)

3547                         [Alloy wheels, Trailer hitch]
5946        [Alloy wheels, Catalytic Converter, Roof rack]
12913                                       [Alloy wheels]
5047                                        [Alloy wheels]
3637     [Alloy wheels, Sport package, Sport seats, Voi...
Name: Extras, dtype: object

In [187]:
extras_unique = {j for i in df.Extras.dropna() for j in i}

In [188]:
df.Extras[0]

['Alloy wheels', 'Catalytic Converter', 'Voice Control']

In [213]:
df.Extras.map(lambda x:",".join(x),na_action="ignore").str.get_dummies(sep = ",")

,Alloy wheels,Cab or rented Car,Catalytic Converter,Handicapped enabled,Right hand drive,Roof rack,Shift paddles,Ski bag,Sliding door,Sport package,Sport seats,Sport suspension,Touch screen,Trailer hitch,Tuned car,Voice Control,Winter tyres
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
15915,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
15916,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15917,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
15918,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [214]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', 'comfort', 'media', 'Extras', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

In [215]:
df['\nSafety & Security\n']

0        [ABS, Central door lock, Daytime running light...
1        [ABS, Central door lock, Central door lock wit...
2        [ABS, Central door lock, Daytime running light...
3        [ABS, Alarm system, Central door lock with rem...
4        [ABS, Central door lock, Driver-side airbag, E...
                               ...
15914    [ABS, Central door lock, Central door lock wit...
15915    [ABS, Adaptive Cruise Control, Blind spot moni...
15916    [ABS, Adaptive Cruise Control, Blind spot moni...
15917    [ABS, Blind spot monitor, Driver-side airbag, ...
15918    [ABS, Blind spot monitor, Daytime running ligh...
Name: \nSafety & Security\n, Length: 15919, dtype: object

In [216]:
df['\nSafety & Security\n'].isnull().sum()

982

In [217]:
df[df.rename(columns= {'\nExtras\n':"Extras"},inplace=True)].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                        982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                 538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                             480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                           275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                     272
                                                                                                                                                                                                                                                                                                                                                                                          ...
[ABS, Adaptive Cruise Control, Central door lock, Driver-side airbag, Electronic stability control, Emergency brake assistant, Isofix, Lane departure warning system, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                 1
[ABS, Adaptive headlights, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                          1
[ABS, Alarm system, Central door lock, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                           1
[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Head airbag, Immobilizer, Isofix, Lane departure warning system, Passenger-side airbag, Power steering, Rear airbag, Side airbag, Tire pressure monitoring system, Traction control]      1
[ABS, Central door lock with remote control, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                        1
Name: \nSafety & Security\n, Length: 4444, dtype: int64

In [218]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', 'comfort', 'media', 'Extras', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')

In [221]:
df.rename(columns= {'\nSafety & Security\n':'Safety & Security'},inplace=True)

In [222]:
df['Safety & Security']

0        [ABS, Central door lock, Daytime running light...
1        [ABS, Central door lock, Central door lock wit...
2        [ABS, Central door lock, Daytime running light...
3        [ABS, Alarm system, Central door lock with rem...
4        [ABS, Central door lock, Driver-side airbag, E...
                               ...
15914    [ABS, Central door lock, Central door lock wit...
15915    [ABS, Adaptive Cruise Control, Blind spot moni...
15916    [ABS, Adaptive Cruise Control, Blind spot moni...
15917    [ABS, Blind spot monitor, Driver-side airbag, ...
15918    [ABS, Blind spot monitor, Daytime running ligh...
Name: Safety & Security, Length: 15919, dtype: object

In [224]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', 'comfort', 'media', 'Extras', 'Safety & Security',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter'],
      dtype='object')