In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sales = pd.read_csv("sales_082020.csv")

In [4]:
sales.shape

(237671, 10)

In [5]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [6]:
sales.seller_id.nunique()

114227

In [3]:
currency = pd.read_csv("currency_rates_082020_EUR.csv")

In [4]:
currency.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [9]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [11]:
sales[sales.currency == "EUR"].price.sum()

275837.69

In [12]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [13]:
sales.brand.isnull().value_counts()

False    119330
True     118341
Name: brand, dtype: int64

In [14]:
sales.brand.isnull()

0          True
1         False
2          True
3         False
4          True
          ...
237666     True
237667     True
237668     True
237669     True
237670     True
Name: brand, Length: 237671, dtype: bool

In [7]:
sales.brand.value_counts().head(10)  # nike

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
American Vintage      3790
Zara                  3003
Urban Outfitters      2932
ASOS                  2154
Vans                  1998
Name: brand, dtype: int64

In [13]:
sales[sales.category == "Jewellery"].brand.isna().sum()# bu yanlış sonuç

13525

In [17]:
sales[(sales.category == "Jewellery") & (sales.brand.isna())].product_code.nunique()

10931

In [15]:
currency.rate.value_counts()

1.000000     10
6.411100      3
4.950800      3
34.751800     3
34.738900     2
             ..
26.257050     1
4.413205      1
0.902815      1
1.776745      1
0.903835      1
Name: rate, Length: 199, dtype: int64

In [21]:
currency.sample(10)

    currency      date        rate
21       USD  8/2/2020    1.178035
60       HKD  8/1/2020    9.129470
151      NOK  8/2/2020   10.725300
110      PLN  8/1/2020    4.415550
134      MXN  8/5/2020   26.562950
153      NOK  8/4/2020   10.736700
136      MXN  8/7/2020   26.374850
158      NOK  8/9/2020   10.671000
120      THB  8/1/2020   36.821000
197      HUF  8/8/2020  346.200000

In [22]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [18]:
currency.date = pd.to_datetime(currency.date)

In [19]:
sales.date.dtype

dtype('O')

In [22]:
sales.date = pd.to_datetime(sales.date)

In [23]:
new_df = sales.merge(currency,how="inner", on = ["currency","date"])

In [27]:
new_df.tail()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [28]:
new_df["total"] = new_df.price/new_df.rate

In [29]:
round(new_df.total.sum())

6471511

In [30]:
new_df.shape

(237671, 12)

In [31]:
sales.shape

(237671, 10)

In [32]:
new_df.currency.isnull().sum()

0

In [33]:
currency

    currency       date    rate
0        EUR 2020-08-01  1.0000
1        EUR 2020-08-02  1.0000
2        EUR 2020-08-03  1.0000
3        EUR 2020-08-04  1.0000
4        EUR 2020-08-05  1.0000
..       ...        ...     ...
215      BRL 2020-08-06  6.3324
216      BRL 2020-08-07  6.4111
217      BRL 2020-08-08  6.4111
218      BRL 2020-08-09  6.4111
219      BRL 2020-08-10  6.4351

[220 rows x 3 columns]