In [32]:
import pandas as pd
from scipy import stats
import numpy as np
import scipy

In [33]:
print(scipy.__version__)

1.5.2

## One Sample T Test

- According to Reynolds Intellectual Ability Scales, the average VIQ (Verbal IQ scores based on the four Wechsler (1981) subtests) is about 109.

- In our sample data, we have a sample of 40 cases. 
- Let's test if the average VIQ of people is significantly bigger than 109.

In [34]:
# Brain size and weight and IQ data (Willerman et al. 1991) --insanlaın vıq 109 dan büyük diye iddia ediyorum.
df = pd.read_csv("brain_size.csv", sep=";", na_values = ".", index_col = 0)
df.head()

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
1  Female   133  132  124   118.0    64.5     816932
2    Male   140  150  124     NaN    72.5    1001121
3    Male   139  123  150   143.0    73.3    1038437
4    Male   133  129  128   172.0    68.8     965353
5  Female   137  132  134   147.0    65.0     951545

In [35]:
# HO: mu0=109
# H1: mu0>109 
# araştıracağım tek taraflı one sample t test yapacağım

In [36]:
df["VIQ"].mean()  #112 olsada emin değilim ane sample t testi yapacağım 40 tane örnek vardı.
                  # SE sigma/kök n  sapmle s / kök nvar hata oalbilri

112.35

In [37]:
df["VIQ"].std()  # büyük bit std var

23.616107063199735

In [38]:
# scipy.stats.ttest_1samp(a, popmean, axis=0, nan_policy='propagate', alternative='two-sided')[source]¶

In [39]:
t_test = (df["VIQ"].mean() - 109) / (df["VIQ"].std()/np.sqrt(df.shape[0]))
t_test

0.8971529586323553

In [40]:
# P value
1- stats.t.cdf(0.897152958632355,39) 
# sample size -1 di  şimdi p value yi bulduk

0.18757115929257173

In [48]:
oneSamp = stats.ttest_1samp(df["VIQ"], 109)  
  # deafult 2 side --alternative = "greater" yazmadım ama kod bu

In [49]:
oneSamp.pvalue/2

0.1875711592925718

In [50]:
alpha = 0.05
if oneSamp.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [45]:
# alfa yok  0.05 tir . alternative hipotezime kanıt bulamadım

# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk. 
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

#şehir ve kırsal da 10 bölge sample var, içme suyunda arsenic farkı varmı şehir dekiyle ortalamaları arasında fark var mı?

In [52]:
df = pd.read_csv("arsenic.csv", sep=",", na_values = ".", index_col = 0)
df.head()

               x1    Rural Arizona  x2
Metro Phoenix
Phoenix         3          Rimrock  48
Chandler        7         Goodyear  44
Gilbert        25        New River  40
Glendale       10  Apache Junction  38
Mesa           15          Buckeye  33

In [ ]:
#

In [54]:
df["x1"]

Metro Phoenix
Phoenix             3
Chandler            7
Gilbert            25
Glendale           10
Mesa               15
Paradise Valley     6
Peoria             12
Scottsdale         25
Tempe              15
Sun City            7
Name: x1, dtype: int64

In [55]:
df["x1"].mean()

12.5

In [56]:
df["x2"].mean()  # fark var ama independent  testi yapacağım ortlamaları karıştıracağım

27.5

Calculate the T-test for the means of two independent samples of scores.

In [ ]:
# H0: mü1 = mü2
# H1: mü1 != mü2  burda eit değil 2 sided two tail olacak.

In [57]:
stats.ttest_ind(df["x1"],df["x2"])  # burda a ve b yani x leri yazdım

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.012704425122128032)

In [58]:
alpha = 0.05
if oneSamp.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

# Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data. 
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20. 
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect). 
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05