In [1]:
import numpy as np
import pandas as pd

## **NUMPY**

#### **Making a Numpy Array** (From the list, Arrange, Zeros, Ones, Linspace, Random)
#### **Methods with Nump Arrays**  
#### **Indexing & Slicing**   
#### **Conditional Selection**   
#### **Numpy Operations**

#### **Making a Numpy Array**

##### -From the list

In [2]:
my_list = [1,2,3,4,5]

my_arr = np.array(my_list)
my_arr

array([1, 2, 3, 4, 5])

In [3]:
type(my_arr)

numpy.ndarray

In [4]:
my_matrix_list = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

my_matrix_arr = np.array(my_matrix_list)

my_matrix_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [5]:
type(my_matrix_arr)

numpy.ndarray

#### -Arrange ile Numpy Array olusturma

In [6]:
np.arange(0,30,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

#### -Zeros ile Numpy Array olusturma

In [7]:
np.zeros((4,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

#### -Ones ile Numpy Array olusturma

In [8]:
np.ones ((2,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

#### -Linspace ile Numpy Array olusturma

In [9]:
# Gives us evenly space between start and stop(inclusive)  numbers by given number. In our example we want 4 linearly spaced even number

np.linspace (0,10,5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

#### -Random ile Numpy Array olusturma

In [10]:
# Gives us random numbers between given row and column number.

np.random.rand (4,5)

array([[0.58495027, 0.04500821, 0.21767605, 0.54256837, 0.49060046],
       [0.01970633, 0.56487078, 0.33195165, 0.25906974, 0.05178757],
       [0.45999059, 0.64196206, 0.81851254, 0.43074645, 0.51225751],
       [0.98169399, 0.11339214, 0.61515016, 0.90791701, 0.55008737]])

In [11]:
# Gives us a number in the normal distribution, for that number mostly close to 0

np.random.randn(2,3)

array([[ 0.53198714,  0.30932574, -0.53905169],
       [-0.48286963,  2.45389645,  0.20398617]])

In [12]:
# Gives us randomly chosen integer between the given numbers, stop is exclusive by requested number
# In our case, we want number between 0 and 101, not inclusive, 5 random integer numbers

np.random.randint(0,101,5)

array([63, 63, 41, 82,  5])

In [13]:
# Same logic, but this time gives us 4 by 5 array with random numbers

np.random.randint(0,101,(4,5))

array([[ 85,  85,  40,   9,   1],
       [ 26,  76,  15,  36,  62],
       [ 75,  44,  96, 100,  85],
       [ 71,  21,   1,  88,  83]])

In [14]:
# If we want to get same random set we use seed  with the random number in the same jupyter cell

np.random.seed(42)

np.random.randint(0, 101,7)

array([51, 92, 14, 71, 60, 20, 82])

In [15]:
# As seen above, as long as we use seed and random number request in the same cell we get same set of numbers.

### **Methods with Numpy Arrays**

#### **reshape**

In [16]:
arr = np.arange(0,25)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [17]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

#### **max** , **min**, **argmax**, **argmin**

In [18]:
arr = np.random.randint(0,50,18)
arr

array([22, 10, 10, 23, 35, 39, 23,  2, 21,  1, 23, 43, 29, 37,  1, 20, 32,
       11])

In [19]:
arr.max()

43

In [20]:
arr.min()

1

In [21]:
arr.argmax()

11

In [22]:
arr.argmin()

9

#### **dtype**,  **shape**

In [23]:
arr.dtype

dtype('int32')

In [24]:
arr.shape

(18,)

In [25]:
arr =arr.reshape(3,6)
arr

array([[22, 10, 10, 23, 35, 39],
       [23,  2, 21,  1, 23, 43],
       [29, 37,  1, 20, 32, 11]])

In [26]:
arr.shape

(3, 6)

### **Indexing** & **Slicing**

In [27]:
arr = np.arange(0,15)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [28]:
arr[2:7]

array([2, 3, 4, 5, 6])

##### **Broadcasting**

In [29]:
arr[0:5] = 35   # Assigns first 5 numbers as a given number

arr

array([35, 35, 35, 35, 35,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [30]:
arr_2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr_2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
arr_2 [1,1] # row one , column one

5

In [32]:
arr_2 [0:2,0:2] # first two rows, with first two column

array([[1, 2],
       [4, 5]])

### **Conditional Selection**

In [33]:
arr = np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [34]:
arr > 4

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [35]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

### **Numpy Operations**

In [36]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
arr+2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [38]:
arr*3

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [39]:
arr/2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [40]:
arr.sum()

45

In [41]:
arr.mean()

4.5

In [42]:
arr.std()

2.8722813232690143

In [43]:
# Operations with two dimesnional array in Numpy

arr_2= np.arange(0,30).reshape(5,6)
arr_2

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [44]:
arr_2.sum()

435

In [45]:
## this part is interesting:

arr_2.sum(axis=0)  # which means sum of the rows across. In our case first one: 0+6+12+18+24 = 60

# which actually, sum of the first column, but we specify axis=0, which means we are taking into account rows.

array([60, 65, 70, 75, 80, 85])

# **PANDAS**

### **Today's Agenda**:
#### **First look to the DataFrame**
#### **Reaching to Columns & Rows and Columns&Rows Together**  
#### **Adding and Dropping Columns and Rows**  
#### **Index methods**   
#### **Conditional Filtering with Exercise**

#### Reading From CSV

In [48]:
#read_csv

df= pd.read_csv('world-happiness-report-2021.csv')

#### **df.shape**    --> Gives up how many rows and columns in the dataframe (df)
#### **df.head()**   --> Gives us top 5 or if we specify number, that number of rows.
#### **df.tail()**   --> Gives us bottom 5 or if we specify number, that number of rows.
#### **df.sample()**   --> Gives us 5 random row from the DF.
#### **df.info()**   --> Gives us number of rows and columns and all the data types in the columns as well.
#### **df.describe()**--> Gives us some basic statistical details(such as; mean, std, percentiles).
#### **df.columns**  --> Gives us column names in the df.
#### **value_counts()**   --> Gives us value counts of the categorical variable.

In [49]:
#shape
df.shape

(149, 20)

In [50]:
#head()
df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [51]:
#tail()
df.tail()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [52]:
#sample()
df.sample(3)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
101,Guinea,Sub-Saharan Africa,4.984,0.090,5.16,4.808,7.838,0.639,55.008,0.697,0.095,0.766,2.43,0.420,0.399,0.206,0.384,0.250,0.111,3.216
55,Japan,East Asia,5.940,0.040,6.02,5.861,10.611,0.884,75.100,0.796,-0.258,0.638,2.43,1.389,0.949,0.838,0.504,0.020,0.192,2.048
56,Argentina,Latin America and Caribbean,5.929,0.056,6.04,5.819,9.962,0.898,69.000,0.828,-0.182,0.834,2.43,1.162,0.980,0.646,0.544,0.069,0.067,2.461

In [53]:
#info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [54]:
#describe()
df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [55]:
# isnull().sum()
df.isnull().sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [56]:
# columns
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [57]:
#value_counts()
df['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [58]:
#GDP, life expectancy, generosity, social support, freedom, and corruption --> ladder score

### **Reaching to Columns**

##### To reach the single column  --> df ['column name'] or df.columnname
##### To reach the more than one column -> df [['column1','column2']] <-- Remember to include 2 squarebracket

In [59]:
# Single column
type(df['Ladder score'])

pandas.core.series.Series

In [60]:
# multiple columns
type(df[['Social support','Generosity']])

pandas.core.frame.DataFrame

In [61]:
# New DataFrame for further analysis

In [212]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()
df1.set_index('Country name', inplace=True)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

### **Reaching to Rows   loc  & iloc**

##### To reach the  single row  --> df.iloc[index number of the row] <-- iloc= integer location
##### To reach the  single row  --> df.loc[label of the row] <-- loc = label location

##### To reach more than one row --> df.iloc[[row1,row2]] or df.loc[[rowname1, rowname2]]<-- Remember to include 2 squarebracket

In [85]:
df1.head(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292

In [64]:
#iloc

df1.iloc[1]

Regional indicator              Western Europe
Ladder score                              7.62
Logged GDP per capita                   10.933
Social support                           0.954
Healthy life expectancy                   72.7
Freedom to make life choices             0.946
Generosity                                0.03
Perceptions of corruption                0.179
Name: Denmark, dtype: object

In [65]:
#loc
df1.loc['Germany']

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [86]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()
df1.set_index('Country name', inplace=True)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [66]:
# iloc
df1.iloc[102:109]

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
South Africa,Sub-Saharan Africa,4.956,9.403,0.860,56.904,0.749,-0.067,0.860
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Venezuela,Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827
Georgia,Commonwealth of Independent States,4.891,9.585,0.671,64.300,0.783,-0.238,0.655
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752

In [88]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, Finland to Afghanistan
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Regional indicator            149 non-null    object
 1   Ladder score                  149 non-null    float64
 2   Logged GDP per capita         149 non-null    float64
 3   Social support                149 non-null    float64
 4   Healthy life expectancy       149 non-null    float64
 5   Freedom to make life choices  149 non-null    float64
 6   Generosity                    149 non-null    float64
 7   Perceptions of corruption     149 non-null    float64
dtypes: float64(7), object(1)
memory usage: 10.5+ KB

In [67]:
# loc
df1.loc['South Africa':'Algeria']

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
South Africa,Sub-Saharan Africa,4.956,9.403,0.860,56.904,0.749,-0.067,0.860
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Morocco,Middle East and North Africa,4.918,8.903,0.560,66.208,0.774,-0.236,0.801
Venezuela,Latin America and Caribbean,4.892,9.073,0.861,66.700,0.615,-0.169,0.827
Georgia,Commonwealth of Independent States,4.891,9.585,0.671,64.300,0.783,-0.238,0.655
Algeria,Middle East and North Africa,4.887,9.342,0.802,66.005,0.480,-0.067,0.752

### **Reaching to Columns and Rows Together**


##### To reach both rows and columns --> df.iloc[[row1,row2], [column1,column2]] or df.loc[[rowname1, rowname2],['columnname1','columnname2']]

##### df.loc[0:3,'Hobbyist':'ConvertedComp']  # <--- It gives us first 3 rows and columns between given two column names. We don't use second square bracket.

In [68]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [69]:
# iloc

df1.iloc[[12,15,39],[1,6,7]]

              Ladder score  Generosity  Perceptions of corruption
Country name
Germany              7.155       0.011                      0.460
Costa Rica           7.069      -0.126                      0.809
Estonia              6.189      -0.106                      0.527

In [70]:
# loc
df1.loc[['Germany','Costa Rica','Estonia'],['Ladder score','Generosity','Perceptions of corruption']]

              Ladder score  Generosity  Perceptions of corruption
Country name
Germany              7.155       0.011                      0.460
Costa Rica           7.069      -0.126                      0.809
Estonia              6.189      -0.106                      0.527

#### Pandas Series & Numpy Arrays

In [71]:
ser = df1['Generosity'].copy()
ser

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Iceland        0.160
Netherlands    0.175
               ...
Lesotho       -0.131
Botswana      -0.246
Rwanda         0.061
Zimbabwe      -0.047
Afghanistan   -0.102
Name: Generosity, Length: 149, dtype: float64

In [72]:
type(ser)

pandas.core.series.Series

In [73]:
ser.head(3)

Country name
Finland       -0.098
Denmark        0.030
Switzerland    0.025
Name: Generosity, dtype: float64

In [74]:
ser.mean()

-0.015134228187919468

In [75]:
ser.min()

-0.28800000000000003

In [76]:
ser[20:101] = 100

ser[20:101]

Country name
France                      100.0
Bahrain                     100.0
Malta                       100.0
Taiwan Province of China    100.0
United Arab Emirates        100.0
                            ...
Turkmenistan                100.0
Gambia                      100.0
Benin                       100.0
Laos                        100.0
Bangladesh                  100.0
Name: Generosity, Length: 81, dtype: float64

### Conditional Filtering

In [77]:
# Exercise

1. Get the number of countries where perceptions of corruption is EQUAL or HIGHER than 
mean score of the level of perceptions of corruption

2.Get the number of countries where perceptions of corruption is LOWER than 
mean score of the level of perceptions of corruption

3. Print a result sentence similar to follwoing one:

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.

SyntaxError: invalid syntax (<ipython-input-77-f9b811434d49>, line 3)

In [78]:
df1['Perceptions of corruption'].describe()

count    149.000000
mean       0.727450
std        0.179226
min        0.082000
25%        0.667000
50%        0.781000
75%        0.845000
max        0.939000
Name: Perceptions of corruption, dtype: float64

In [79]:
df1['Perceptions of corruption']

Country name
Finland        0.186
Denmark        0.179
Switzerland    0.292
Iceland        0.673
Netherlands    0.338
               ...
Lesotho        0.915
Botswana       0.801
Rwanda         0.167
Zimbabwe       0.821
Afghanistan    0.924
Name: Perceptions of corruption, Length: 149, dtype: float64

In [80]:
high_corruption = df1[(df1['Perceptions of corruption']>=df1['Perceptions of corruption'].mean())]

high_corruption.shape

(95, 8)

In [81]:
high_corruption.head(10)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Israel,Middle East and North Africa,7.157,10.575,0.939,73.503,0.800,0.031,0.753
Costa Rica,Latin America and Caribbean,7.069,9.880,0.891,71.400,0.934,-0.126,0.809
Czech Republic,Central and Eastern Europe,6.965,10.556,0.947,70.807,0.858,-0.208,0.868
Spain,Western Europe,6.491,10.571,0.932,74.700,0.761,-0.081,0.745
Italy,Western Europe,6.483,10.623,0.880,73.800,0.693,-0.084,0.866
Slovenia,Central and Eastern Europe,6.461,10.529,0.948,71.400,0.949,-0.101,0.806
Guatemala,Latin America and Caribbean,6.435,9.053,0.813,64.958,0.906,-0.038,0.775
Kosovo,Central and Eastern Europe,6.372,9.318,0.821,63.813,0.869,0.257,0.917
Slovakia,Central and Eastern Europe,6.331,10.369,0.936,69.201,0.766,-0.124,0.911
Brazil,Latin America and Caribbean,6.330,9.577,0.882,66.601,0.804,-0.071,0.756

In [90]:
df1.describe()

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450
std,1.073924,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226
min,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000
25%,4.852000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000
50%,5.534000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000
75%,6.255000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000
max,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000

In [82]:
low_corruption = df1[(df1['Perceptions of corruption']<df1['Perceptions of corruption'].mean())]

low_corruption.shape

(54, 8)

In [83]:
low_corruption.sample(10)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
United States,North America and ANZ,6.951,11.023,0.920,68.200,0.837,0.098,0.698
Austria,Western Europe,7.268,10.906,0.934,73.300,0.908,0.042,0.481
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Ireland,Western Europe,7.085,11.342,0.947,72.400,0.879,0.077,0.363
Nicaragua,Latin America and Caribbean,5.972,8.620,0.864,67.657,0.836,0.020,0.664
Myanmar,Southeast Asia,4.426,8.541,0.779,59.302,0.876,0.509,0.660
Benin,Sub-Saharan Africa,5.045,8.087,0.489,54.713,0.757,-0.034,0.661
France,Western Europe,6.690,10.704,0.942,74.000,0.822,-0.147,0.571
Swaziland,Sub-Saharan Africa,4.308,9.065,0.770,50.833,0.647,-0.185,0.708
Armenia,Commonwealth of Independent States,5.283,9.487,0.799,67.055,0.825,-0.168,0.629

In [84]:
print(f'Out of {df1.shape[0]} countries; Citizens of {high_corruption.shape[0]} countries perceive above the mean level of perceptions of corruption in their countries.\nOn the other hand citizens of {low_corruption.shape[0]} countries perceive below the mean level of perceptions of corruption in their countries.')

Out of 149 countries; Citizens of 95 countries perceive above the mean level of perceptions of corruption in their countries.
On the other hand citizens of 54 countries perceive below the mean level of perceptions of corruption in their countries.

In [91]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [92]:
df1.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe', 'Afghanistan'],
      dtype='object', name='Country name', length=149)

In [108]:
df["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [107]:
df1.loc[["Germany", "Ethiopia", "Peru", "Chad", "Japan"],["Freedom to make life choices","Healthy life expectancy"]]

              Freedom to make life choices  Healthy life expectancy
Country name
Germany                              0.875                   72.500
Ethiopia                             0.752                   59.000
Peru                                 0.822                   68.250
Chad                                 0.579                   48.478
Japan                                0.796                   75.100

In [ ]:
df1.loc[["Germany", "Ethiopia", "Peru", "Chad", "Japan"],["Freedom to make life choices","Healthy life expectancy"]]

In [109]:
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [ ]:
indexe göre 25. 52. 65. 145. ülke , laeders cor, corraption

In [121]:
df1.head(1)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186

In [122]:
df1.iloc[[25,52,65,145],[1,-1]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

In [ ]:
Exercise:Conditional Filtering
Let's bring the Happiness score from the countries where in Central and Easter Europe countries
and where perceptions of corruption higher than 0.9

In [138]:
df["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [200]:
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [185]:
filt=(df1["Regional indicator"]=="Central and Easter Europe")& (df1["Perceptions of corruption"]>0.9)
df1.loc[filt,"Ladder score"]

Empty DataFrame
Columns: [Ladder score]
Index: []

In [159]:
filt=(df1["Regional indicator"]=="Afghanistan")& (df1["Perceptions of corruption"]>0.9)
df1.loc[filt,"Ladder score"]

Series([], Name: Ladder score, dtype: float64)

In [ ]:
Exercise:Conditional Filtering
Let's bring the Happiness score from the countries where in Sub-Saharan Africa countries
or countries where Healthy life expectancy'lower than 50

In [166]:
filt1=(df1["Regional indicator"] == "Sub-Saharan Africa")| (df1["Healthy life expectancy"]<50)
df1.loc[filt1,"Ladder score"]

Country name
Mauritius              6.049
Congo (Brazzaville)    5.342
Ivory Coast            5.306
Cameroon               5.142
Senegal                5.132
Ghana                  5.088
Niger                  5.074
Gambia                 5.051
Benin                  5.045
Guinea                 4.984
South Africa           4.956
Gabon                  4.852
Burkina Faso           4.834
Mozambique             4.794
Nigeria                4.759
Mali                   4.723
Uganda                 4.636
Liberia                4.625
Kenya                  4.607
Namibia                4.574
Chad                   4.355
Swaziland              4.308
Comoros                4.289
Ethiopia               4.275
Mauritania             4.227
Madagascar             4.208
Togo                   4.107
Zambia                 4.073
Sierra Leone           3.849
Burundi                3.775
Tanzania               3.623
Malawi                 3.600
Lesotho                3.512
Botswana               3.467
Rwanda                 3.415
Zimbabwe               3.145
Name: Ladder score, dtype: float64

In [ ]:
#### Exercise:Conditional Filtering

- Let's **randomly** bring 7 countries with their 'Regional indicator','Ladder score','Perceptions of corruption' scores

- Condition : Those countries are not in Western Europe **or** their 'Perceptions of corruption' scores are not bigger than 0.66

In [182]:
filt2=(df1["Regional indicator"]!="Western Europe") |(df1['Perceptions of corruption']<=0.66)
df1.loc[filt2,['Regional indicator','Ladder score','Perceptions of corruption']].sample(7)

,Regional indicator,Ladder score,Perceptions of corruption
Country name,,,
Uganda,Sub-Saharan Africa,4.636,0.855
Egypt,Middle East and North Africa,4.283,0.795
Nigeria,Sub-Saharan Africa,4.759,0.878
Congo (Brazzaville),Sub-Saharan Africa,5.342,0.745
Kenya,Sub-Saharan Africa,4.607,0.825
Canada,North America and ANZ,7.103,0.415
Kuwait,Middle East and North Africa,6.106,0.736

In [186]:
new=np.random.rand(149)

In [189]:
df1["new"]=new
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,new
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186,0.552820
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179,0.296510
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292,0.419781
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673,0.256207
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338,0.611514
...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,0.482521
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,0.493026
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167,0.083284
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,0.091704
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,0.602441

In [191]:
df1.drop("new",axis=1,inplace=True)

In [210]:
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
New_name,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [203]:
new_row=df1.loc["Germany"]
new_row

Regional indicator              Western Europe
Ladder score                             7.155
Logged GDP per capita                   10.873
Social support                           0.903
Healthy life expectancy                   72.5
Freedom to make life choices             0.875
Generosity                               0.011
Perceptions of corruption                 0.46
Name: Germany, dtype: object

In [196]:
df1=df1.append(new_row)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
Germany,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [197]:
df1.drop("Germany",axis=0,inplace=True)
df1                  # 2 germany de ürdü

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [ ]:
df1=df1.append(new_row)
df1

In [209]:
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
New_name,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [ ]:
new_row=df1.loc["Germany"] # germany i eşitledik new row dedik
new_row

In [204]:
new_row.name="New_name"  # sonra new row satırına isim verdik

In [205]:
df1=df1.append(new_row)
df1                     # sonra ekledik sona

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924
New_name,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460

In [213]:
df3=df1.copy()
df3

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [211]:
df3["Social support"].apply(np.square)  # içine aldığı fonk uygular sütuna bağlı satırlara

Country name
Finland        0.910116
Denmark        0.910116
Switzerland    0.887364
Iceland        0.966289
Netherlands    0.887364
                 ...
Botswana       0.614656
Rwanda         0.304704
Zimbabwe       0.562500
Afghanistan    0.214369
New_name       0.815409
Name: Social support, Length: 150, dtype: float64

In [243]:
df3.loc["Afghanistan","Ladder score"]

2.656

In [245]:
df3.loc["Afghanistan","Ladder score"]=7.656  # sol satır sağ sütun

In [246]:
df3.loc["Afghanistan"]

Regional indicator              South Asia
Ladder score                         7.656
Logged GDP per capita                7.695
Social support                       0.463
Healthy life expectancy             52.493
Freedom to make life choices         0.382
Generosity                          -0.102
Perceptions of corruption            0.924
Name: Afghanistan, dtype: object

In [ ]:
mealen dıyor ki :
Veri setimizin 'Sağlıklı yaşam beklentisi' puanlarına dayanarak, aşağıdakilerden oluşması gereken yeni değerlerle 
'Açıklanan Sağlıklı yaşam beklentisi' adında yeni bir sütun yapalım: 'Sağlıklı yaşam beklentisi' ortalama puanını 
    eşiğimiz olarak düşünelim. 'Sağlıklı yaşam beklentisi' veri setinin 'Sağlıklı yaşam beklentisi' puanının %75'inden 
    büyük ve eşit ise, ''Uzun Yaşam beklentisi'' yazılmalıdır. 'Sağlıklı yaşam beklentisi', veri setinin 'Sağlıklı yaşam
    beklentisi' puanının %75'inden az ancak bizim eşiğimizden büyükse, 'Normal beklentiden uzun' yazılmalıdır. -'Sağlıklı 
    yaşam beklentisi' eşiğimize eşit veya daha az ancak veri setinin 'Sağlıklı yaşam beklentisi' puanının %25'inden büyükse,
    'Normal yaşam beklentisi' yazılmalıdır. -'Sağlıklı yaşam beklentisi' veri setinin 'Sağlıklı yaşam beklentisi' puanının
    %25'ine eşit veya daha az ise, 'Düşük yaşam beklentisi' yazılmalıdır. -Birleşik Devletler ile projelerimiz olduğu için 
    United'ın Devletler 'Amerika Birleşik Devletleri' olarak yazılmalıdır

In [ ]:
Based on the our dataset's 'Healthy life expectancy' scores, lets make a new column with the name of **'Explained Healthy life expectancy'**
with the new values which should consist of:
- Let's think 'Healthy life expectancy''s mean score as our threshold.
-If 'Healthy life expectancy' is equal and greater than 75% of the 'Healthy life expectancy' score of the dataset , 
it should be written **''Long Life expectancy'**
-If 'Healthy life expectancy' less than 75% of the 'Healthy life expectancy' score of the dataset but bigger than our 
threshold, it should be written **'Longer than normal expectancy'**
--If 'Healthy life expectancy' equal or less than our threshold but bigger than 25% of the 'Healthy life expectancy' 
score of the dataset, it should be written **'Normal life expectancy'**
--If 'Healthy life expectancy' equal or less than 25% of the 'Healthy life expectancy' score of the dataset, it should 
be written **'Lower life expectancy'**
--Since We have projects with United states make sure that United States should be written as **'United States of America'**

In [248]:
df3.describe().T

,count,mean,std,min,25%,50%,75%,max
Ladder score,149.0,5.567289,1.058945,3.145,4.854,5.536,6.309,7.842
Logged GDP per capita,149.0,9.432208,1.158601,6.635,8.541,9.569,10.421,11.647
Social support,149.0,0.814745,0.114889,0.463,0.750,0.832,0.905,0.983
Healthy life expectancy,149.0,64.992799,6.762043,48.478,59.802,66.603,69.600,76.953
Freedom to make life choices,149.0,0.791597,0.113332,0.382,0.718,0.804,0.877,0.970
Generosity,149.0,-0.015134,0.150657,-0.288,-0.126,-0.036,0.079,0.542
Perceptions of corruption,149.0,0.727450,0.179226,0.082,0.667,0.781,0.845,0.939

In [ ]:
df3.describe().T

In [252]:
df3["Healthy life expectancy"].head() # ilgili sütünü aldık

Country name
Finland        72.0
Denmark        72.7
Switzerland    74.4
Iceland        73.0
Netherlands    72.4
Name: Healthy life expectancy, dtype: float64

In [260]:
df3["Healthy life expectancy"].describe()  # değerleri aldık

count    149.000000
mean      64.992799
std        6.762043
min       48.478000
25%       59.802000
50%       66.603000
75%       69.600000
max       76.953000
Name: Healthy life expectancy, dtype: float64

In [262]:
def change(x):
    if x>=75 :
        return "Long Life expectancy"
    elif ortalama<x<75:
        return "Longer than normal expectancy"
    elif 25<=x<=ortalama :
        return "Normal life expectancy"
    else:
        return "Lower life expectancy"

In [264]:
df3["Explained Healthy life expectancy"]=df3["Healthy life expectancy"].apply(change)

NameError: name 'ortalama' is not defined

In [271]:
df1.reset_index(inplace=True)   # reset index inplace true lursa 0 da 129 a kadar ilk neyse o

In [272]:
df1.index

RangeIndex(start=0, stop=149, step=1)

In [269]:
df1.set_index(["Regional indicator","Country name"] ,inplace=True)
df1                # GROUPBY YAPTI  GRUPLADI İNDEXE GÖRE ATAMA YAPTI

                                 Ladder score  Logged GDP per capita  \
Regional indicator Country name
Western Europe     Finland              7.842                 10.775
                   Denmark              7.620                 10.933
                   Switzerland          7.571                 11.117
                   Iceland              7.554                 10.878
                   Netherlands          7.464                 10.932
...                                       ...                    ...
Sub-Saharan Africa Lesotho              3.512                  7.926
                   Botswana             3.467                  9.782
                   Rwanda               3.415                  7.676
                   Zimbabwe             3.145                  7.943
South Asia         Afghanistan          2.523                  7.695

                                 Social support  Healthy life expectancy  \
Regional indicator Country name
Western Europe     Finland                0.954                   72.000
                   Denmark                0.954                   72.700
                   Switzerland            0.942                   74.400
                   Iceland                0.983                   73.000
                   Netherlands            0.942                   72.400
...                                         ...                      ...
Sub-Saharan Africa Lesotho                0.787                   48.700
                   Botswana               0.784                   59.269
                   Rwanda                 0.552                   61.400
                   Zimbabwe               0.750                   56.201
South Asia         Afghanistan            0.463                   52.493

                                 Freedom to make life choices  Generosity  \
Regional indicator Country name
Western Europe     Finland                              0.949      -0.098
                   Denmark                              0.946       0.030
                   Switzerland                          0.919       0.025
                   Iceland                              0.955       0.160
                   Netherlands                          0.913       0.175
...                                                       ...         ...
Sub-Saharan Africa Lesotho                              0.715      -0.131
                   Botswana                             0.824      -0.246
                   Rwanda                               0.897       0.061
                   Zimbabwe                             0.677      -0.047
South Asia         Afghanistan                          0.382      -0.102

                                 Perceptions of corruption
Regional indicator Country name
Western Europe     Finland                           0.186
                   Denmark                           0.179
                   Switzerland                       0.292
                   Iceland                           0.673
                   Netherlands                       0.338
...                                                    ...
Sub-Saharan Africa Lesotho                           0.915
                   Botswana                          0.801
                   Rwanda                            0.167
                   Zimbabwe                          0.821
South Asia         Afghanistan                       0.924

[149 rows x 7 columns]

In [273]:
df1.set_index(["Country name"] ,inplace=True)
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [275]:
df1["Regional indicator"].unique()

array(['Western Europe', 'North America and ANZ',
       'Middle East and North Africa', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'East Asia', 'Southeast Asia',
       'Commonwealth of Independent States', 'Sub-Saharan Africa',
       'South Asia'], dtype=object)

In [276]:
df1["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [277]:
df1["Regional indicator"].value_counts(normalize=True)  # region nun yüzdeleri

Sub-Saharan Africa                    0.241611
Western Europe                        0.140940
Latin America and Caribbean           0.134228
Central and Eastern Europe            0.114094
Middle East and North Africa          0.114094
Commonwealth of Independent States    0.080537
Southeast Asia                        0.060403
South Asia                            0.046980
East Asia                             0.040268
North America and ANZ                 0.026846
Name: Regional indicator, dtype: float64

In [278]:
df1.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe', 'Afghanistan'],
      dtype='object', name='Country name', length=149)

In [280]:
df1.groupby(["Regional indicator"])  # grupladı

In [288]:
df1["Ladder score"].describe()

count    149.000000
mean       5.532839
std        1.073924
min        2.523000
25%        4.852000
50%        5.534000
75%        6.255000
max        7.842000
Name: Ladder score, dtype: float64

In [286]:
df1.groupby(["Regional indicator"]).get_group("Western Europe")["Ladder score"]  # grubu getir

Country name
Finland           7.842
Denmark           7.620
Switzerland       7.571
Iceland           7.554
Netherlands       7.464
Norway            7.392
Sweden            7.363
Luxembourg        7.324
Austria           7.268
Germany           7.155
Ireland           7.085
United Kingdom    7.064
Belgium           6.834
France            6.690
Malta             6.602
Spain             6.491
Italy             6.483
Cyprus            6.223
Portugal          5.929
Greece            5.723
North Cyprus      5.536
Name: Ladder score, dtype: float64

# groupby

In [ ]:
df3[""]

In [ ]:
*Exercise** : We are working as a Data Scientist at an internationally well-known infrastructure company,
which makes projects all over the world. Right now, our company's focus areas are: 'Southeast Asia' and 'South Asia'.
In the first place, our boss wants us to prepare a descriptive report on the institutional integrity and citizens to trust 
their governments to see whether it is worthed to start a project idea to invest huge amount of money and time to those regions.
We are preparing a descriptive report for our boss, who does not have much knowledge of statistics or reading statistical 
results. As data scientists, we should prepare something concise and understandable.
Let's start with the following steps:
-First, decide on which variable would be a good choice to work on
-Second give our boss both numbers and also kind of explanatory side (like we did before)
-Make a comparison between two regions in the text
-Our report should contain
--overall regions,
--'Southeast Asia' and 'South Asia'
--variable and modified version of the variable

In [ ]:
*Egzersiz** : Dünyanın her yerinde projeler yapan, uluslararası alanda tanınan bir altyapı şirketinde Veri Bilimcisi 
olarak çalışıyoruz. Şu anda şirketimizin odak alanları:
    'Güneydoğu Asya' ve 'Güney Asya'. İlk olarak patronumuz, kurumsal
bütünlük ve vatandaşların hükümetlerine güvenmeleri konusunda açıklayıcı bir rapor hazırlamamızı ve bu bölgelere büyük 
miktarda para ve zaman yatırımı yapmak için bir proje fikrine başlamanın değip değmediğini görmemizi istiyor.
İstatistik
konusunda fazla bilgisi olmayan veya istatistiksel sonuçları okumayan patronumuz için açıklayıcı bir rapor hazırlıyoruz. 
Veri bilimciler olarak kısa ve anlaşılır bir şeyler hazırlamalıyız. Aşağıdaki adımlarla başlayalım: -İlk olarak, hangi 
değişken üzerinde çalışmak için iyi bir seçim olacağına karar verin -İkinci olarak patronumuza hem sayıları hem de 
bir tür açıklayıcı tarafı verin (daha önce yaptığımız gibi) -İki bölge arasında bir karşılaştırma yapın. text -
Raporumuz --genel bölgeler, --'Güneydoğu Asya' ve 'Güney Asya' --değişkenin ve değişkenin değiştirilmiş versiyonunu
içermelidir