In [9]:
import numpy as np
import pandas as pd

In [10]:
df_language= pd.read_csv('Working_Language.csv')
df_language

,Respondent,Age,Country,DevType,LanguageWorkedWith
0,1,NaN,Germany,"Developer, desktop or enterprise applications;...",C#;HTML/CSS;JavaScript
1,2,NaN,United Kingdom,"Developer, full-stack;Developer, mobile",JavaScript;Swift
2,3,NaN,Russian Federation,NaN,Objective-C;Python;Swift
3,4,25.0,Albania,NaN,NaN
4,5,31.0,United States,NaN,HTML/CSS;Ruby;SQL
...,...,...,...,...,...
64456,64858,NaN,United States,Senior executive/VP,NaN
64457,64867,NaN,Morocco,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64458,64898,NaN,Viet Nam,NaN,NaN
64459,64925,NaN,Poland,NaN,HTML/CSS
64460,65112,NaN,Spain,NaN,C#;HTML/CSS;Java;JavaScript;SQL

In [11]:
df_language.sample(3)

,Respondent,Age,Country,DevType,LanguageWorkedWith
8466,8498,28.0,India,"Developer, desktop or enterprise applications;...",C;Python
41821,42527,NaN,United States,NaN,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
58568,59723,31.0,United Kingdom,"Database administrator;Developer, back-end;Dev...",Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...

In [16]:
df_python= df_language['LanguageWorkedWith'].str.contains('Python',na= False, case=True)
df_python

0        False
1        False
2         True
3        False
4        False
         ...
64456    False
64457     True
64458    False
64459    False
64460    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [17]:
df_python.value_counts()

False    39174
True     25287
Name: LanguageWorkedWith, dtype: int64

In [19]:
python_country = df_language.loc[df_python,'Country']
python_country

2        Russian Federation
7             United States
9            United Kingdom
12              Netherlands
14                   France
                ...
64433                France
64438               Morocco
64443         United States
64446             Australia
64457               Morocco
Name: Country, Length: 25287, dtype: object

In [21]:
python_country.value_counts()

United States      5964
India              2670
Germany            1712
United Kingdom     1621
Canada             1011
                   ...
Guinea                1
Angola                1
Solomon Islands       1
Turkmenistan          1
Bhutan                1
Name: Country, Length: 164, dtype: int64

In [22]:
python_country.value_counts().loc['Germany']

1712

In [25]:
grp_country = df_language.groupby('Country')

python_country = grp_country['LanguageWorkedWith'].apply (lambda x: x.str.contains('Python').sum())
python_country

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [28]:
python_country.loc['India']

2670

In [27]:
country_respondents = df_language['Country'].value_counts()

In [31]:
full_df = pd.concat([country_respondents,python_country],axis=1)
full_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Grenada                                   1                   0
Micronesia, Federated States of...        1                   1
North Korea                               1                   0
Fiji                                      1                   0
Mali                                      1                   0

[183 rows x 2 columns]